{% set active_page = (active_page is defined) ? active_page : "" %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if block('title') %}{{ block('title')}}{% else %}Bienvenue{% endif %} | groupes.zoobeauval.com</title>
    {% if block('description') %}
        <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/groupes/master.css"/>
    {% endblock %}

    {% block headScripts %}{% endblock %}

    {% block headStyles %}

    {% endblock %}
</head>

<body class="{{ "bg_"~(random(10)+1) }}">
{{ render(controller("ZPBSitesCommonBundle:Navs:topnav")) }}
{% block main %}
    {% block header %}
        <div id="site-header">
            {{ render(controller("ZPBSitesGroupBundle:Navs:mainbar")) }}
        </div>
    {% endblock %}

    <div class="main-content">
        {% block content %}{% endblock %}
    </div>

{% endblock %}

{{ render(controller("ZPBSitesGroupBundle:Partials:footer")) }}

{% block footScripts %}
    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="/js/vendor/waypoints.min.js"></script>
    <script src="/js/vendor/waypoints-sticky.min.js"></script>
    <script>
        $(function(){
            $("#stickytop").waypoint('sticky');
        })
    </script>
{% endblock %}

</body>
</html>
