{% set practicle_pages = ["pratique", "tarifs", "animations", "map", "resto","services"] %}
{% set zooparc_pages = ["zooparc", "phototheque"] %}
{% set pedago_pages = ["pedago"] %}
{% set news_pages = ["news","single_post", "cat_posts", "tag_posts"] %}
{% set social_pages = ["social"] %}
{% set shop_pages = ["shop"] %}



<div id="stickytop">
    <div class="container">
        <div id="main-menu">
            <a href="{{path("zpb_sites_zoo_homepage")}}" class="logo">{{ include("ZPBSitesZooBundle:incs:logo_zooparc_svg.html.twig") }}</a>
            <a href="#seconday-mainbar-wrapper" id="menu-toggler"></a>
            <nav>
                <ul>
                    <li class="dropdown{% if active_page in practicle_pages %} active{% endif %}"><a href="javascript:void(0)">Pratique</a>
                        <ul>
                            <li><a href="{{ path("zpb_sites_zoo_pratique_acces_tarifs_horaires") }}">Accès, horaires, tarifs</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_pratique_animations") }}">Animations</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_pratique_map") }}">Plan de visite</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_pratique_resto") }}">Restauration</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_pratique_services") }}">Services</a></li>
                            <li><a href="{{ url("zpb_sites_hotels_homepage") }}">Dormir à Beauval</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in zooparc_pages %} active{% endif %}"><a href="javascript:void(0)">ZooParc</a>
                        <ul>
                            <li><a href="">Les univers</a></li>
                            <li><a href="">Historique</a></li>
                            <li><a href="">La mission</a></li>
                            <li><a href="">Développement durable</a></li>
                            <li><a href="{{  path("zpb_sites_zoo_phototheque_index") }}">Galerie photo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in pedago_pages %} active{% endif %}"><a href="javascript:void(0)">Pédagogie</a>
                        <ul>
                            <li><a href="">Carnets pédagogiques</a></li>
                            <li><a href="">Activités pédagogiques</a></li>
                            <li><a href="">Panneaux pédagogiques</a></li>
                            <li><a href="">Offres scolaires</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in news_pages %} active{% endif %}"><a href="javascript:void(0)">Actualité</a>
                        <ul>
                            <li><a href="{{ path("zpb_sites_zoo_actualites_nouveautes") }}">Nouveautés</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_actualites_homepage") }}">Fil d'actualités</a></li>
                        </ul>
                    </li>
                    <li class="{% if active_page in social_pages %}active{% endif %}"><a href="">Réseaux</a></li>
                    <li class="{% if active_page in shop_pages %}active{% endif %}"><a href="">Boutique</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
