<ul>
    <li><a href="{{ path("zpb_sites_zoo_pedagogie_carnet") }}">Carnets de jeux</a></li>
    <li><a href="{{ path("zpb_sites_zoo_pedagogie_soigneur") }}">Soigneur d'un Jour</a></li>
    <li><a href="{{ path("zpb_sites_zoo_pedagogie_soigneur_jr") }}">Soigneur d'un Jour Junior</a></li>
    <li><a href="{{ path("zpb_sites_zoo_pedagogie_parcours") }}">Parcours pédagogiques</a></li>
    <li><a href="{{ url("zpb_sites_scolar_homepage") }}">Groupes scolaires</a></li>
</ul>
