<ul>
    <li><a href="{{ path("zpb_sites_zoo_pratique_acces") }}">Accès</a></li>
    <li><a href="{{ path("zpb_sites_zoo_pratique_tarifs_horaires") }}">Horaires et tarifs</a></li>
    <li><a href="{{ path("zpb_sites_zoo_pratique_animations") }}">Au programme</a></li>
    <li><a href="{{ path("zpb_sites_zoo_pratique_map") }}">Plan de visite</a></li>
    <li><a href="{{ path("zpb_sites_zoo_pratique_resto") }}">Restauration</a></li>
    <li><a href="{{ path("zpb_sites_zoo_pratique_services") }}">Services</a></li>
    <li><a href="{{ url("zpb_sites_hotels_homepage") }}">Les Hôtels de Beauval</a></li>
</ul>
