{% set practicle_pages = ["pratique", "tarifs", "acces", "animations", "map", "resto","services"] %}
{% set zooparc_pages = ["zooparc", "phototheque"] %}
{% set pedago_pages = ["pedago"] %}
{% set news_pages = ["news","single_post", "cat_posts", "tag_posts"] %}
{% set social_pages = ["social","reseau"] %}
{% set shop_pages = ["shop"] %}
<div id="seconday-mainbar-wrapper">
    <div class="container">
        <div class="row">
            <nav id="secondary-mainbar">
                <div class="col-1">
                    <div class="menu-block {% if active_page in practicle_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Pratique</a>
                        {{ include("ZPBSitesZooBundle:Navs:pratique.html.twig") }}
                    </div>

                </div>
                <div class="col-1">
                    <div class="menu-block{% if active_page in zooparc_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">ZooParc</a>
                        {{ include("ZPBSitesZooBundle:Navs:zooparc.html.twig") }}
                    </div>

                </div>
                <div class="col-1">
                    <div class="menu-block{% if active_page in pedago_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Pédagogie</a>
                        {{ include("ZPBSitesZooBundle:Navs:pedagogie.html.twig") }}
                    </div>

                </div>
                <div class="col-1">
                    <div class="menu-block{% if active_page in news_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Actualité</a>
                        {{ include("ZPBSitesZooBundle:Navs:actualite.html.twig") }}
                    </div>

                </div>
                <div class="col-1">
                    <div class="menu-block{% if active_page in social_pages %} active{% endif %}">
                        <a href="{{ path("zpb_sites_zoo_reseaux_homepage") }}" class="menu-block-header">Réseaux</a>
                    </div>


                </div>
                <div class="col-1">
                    <div class="menu-block{% if active_page in shop_pages %} active{% endif %}">
                        <a href="#" class="menu-block-header">Boutique</a>
                    </div>

                </div>

            </nav>
        </div>
    </div>
</div>


