<ul>
    <li><a href="{{ path("zpb_sites_zoo_zooparc_animaux") }}">Animaux</a></li>
    {#<li><a href="{{ path("zpb_sites_zoo_zooparc_animation_spectacle") }}">Animations et spectacles</a></li>#}
    {#<li><a href="{{ path("zpb_sites_zoo_pedagogie_parcours") }}">Parcours pédagogiques</a></li>#}
    <li><a href="{{ path("zpb_sites_zoo_zooparc_histoire") }}">Histoire</a></li>
    <li><a href="{{ path("zpb_sites_zoo_zooparc_mission") }}">Missions</a></li>
    <li><a href="{{ path("zpb_sites_zoo_zooparc_dev_durable") }}">Développement durable</a></li>
    <li><a href="{{  path("zpb_sites_zoo_phototheque_index") }}">Galerie photo</a></li>
</ul>
