<ul>
    <li><a href="{{ path("zpb_sites_zoo_zooparc_animaux") }}">Les animaux</a></li>
    <li><a href="{{ path("zpb_sites_zoo_zooparc_histoire") }}">L'histoire</a></li>
    <li><a href="{{ path("zpb_sites_zoo_zooparc_mission") }}">La mission</a></li>
    <li><a href="{{ path("zpb_sites_zoo_zooparc_dev_durable") }}">Développement durable</a></li>
    <li><a href="{{  path("zpb_sites_zoo_phototheque_index") }}">Galerie photo</a></li>
</ul>
