{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Nouvelle Catégories d'actualité | Actualités{% endblock %}
{% set active = "write_post" %}

{% block headStyles %}
    <style>
        .dynamic-checkbox > div{
            *zoom:1;
        }
        .dynamic-checkbox > div:before, .dynamic-checkbox > div:after{
            content: " ";
            display: table;
        }
        .dynamic-checkbox > div:after{
            clear: both;
        }
        form.form .dynamic-checkbox label{
            display: block;
            float: right;
            width: 90%;
            height: 27px;
        }
        form.form .dynamic-checkbox input[type=checkbox], form.form .dynamic-checkbox input[type=radio]{
            display: block;
            float: left;
            width: 9%;
            height: 27px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        {{ form_start(form, {attr: {class: "form", novalidate:true }})}}
        <div class="column-3">
            <div class="tile">
                <div class="tile-header">
                    Status de l'article
                </div>
                <h3>{{ form.vars.value.status }}</h3>
            </div>

            <div class="tile">
                <div class="tile-header">
                    Sites Cibles
                </div>

                <div class="form-row">
                    {{ form_label(form.targets, null, {label_attr:{style:"display:none;"}}) }}
                    <div class="form-field dynamic-checkbox">
                    {{ form_widget(form.targets) }}
                    </div>
                </div>
            </div>

            <div class="tile">
                <div class="tile-header">
                    Catégorie
                </div>
                <div class="form-row {% if form.category.vars.errors|length>0 %}has-error{% endif %}">
                    {{ form_label(form.category, null, {label_attr:{style:"display:none;"}}) }}
                    <div class="form-field">
                        {{ form_widget(form.category)}}
                        {% if form.category.vars.errors|length>0 %}
                            <div class="errors-block">
                                {{ form_errors(form.category)}}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="tile">
                <div class="tile-header">
                    Mots-clés
                </div>
                <div class="form-row {% if form.tags.vars.errors|length>0 %}has-error{% endif %}">
                    {{ form_label(form.tags, null, {label_attr:{style:"display:none;"}}) }}
                    <div class="form-field">
                        {{ form_widget(form.tags)}}
                        {% if form.tags.vars.errors|length>0 %}
                            <div class="errors-block">
                                {{ form_errors(form.tags)}}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div id="tagsContainer"></div>

                <div class="form-row">
                    <button class="btn btn-primary" id="addTagBtn"><i class="fa fa-plus"></i></button>
                </div>
            </div>

            <div class="tile">
                <div class="tile-header">
                    Mettre à la une de:
                </div>


            </div>

        </div>
        <div class="column-6">
            <div class="tile">
                <div class="tile-header">
                    Nouvel article d'actualité
                </div>

                {{ form_errors(form) }}

                <div class="form-row {% if form.title.vars.errors|length>0 %}has-error{% endif %}">
                    {{ form_label(form.title) }}
                    <div class="form-field">
                        {{ form_widget(form.title)}}
                        {% if form.title.vars.errors|length>0 %}
                            <div class="errors-block">
                                {{ form_errors(form.title)}}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row {% if form.body.vars.errors|length>0 %}has-error{% endif %}">
                    {{ form_label(form.body) }}
                    <div class="form-field">
                        {{ form_widget(form.body, {attr:{'data-editor':'html', 'data-editorsize':'large'}})}}
                        {% if form.body.vars.errors|length>0 %}
                            <div class="errors-block">
                                {{ form_errors(form.body)}}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row {% if form.excerpt.vars.errors|length>0 %}has-error{% endif %}">
                    {{ form_label(form.excerpt) }}
                    <div class="form-field">
                        {{ form_widget(form.excerpt, {attr:{'data-editor':'html', 'data-editorsize':'small'}})}}
                        {% if form.excerpt.vars.errors|length>0 %}
                            <div class="errors-block">
                                {{ form_errors(form.excerpt)}}
                            </div>
                        {% endif %}
                    </div>
                </div>


                <div class="form-row">
                    {{ form_widget(form.save, {attr: {class: "btn btn-primary"}})}}
                    {{ form_widget(form.save_publish, {attr: {class: "btn btn-primary"}})}}
                </div>
                {{ form_end(form)}}

            </div>
        </div>
        <div class="column-3">
            <div class="tile">
                <div class="tile-header">
                    Bandeau (min 1200x300, en 4:1)
                </div>
                <div class="dropzone" id="dropzone-img-bandeau">
                    <div class="dropzone-in">
                        <div class="dropzone-legend"></div>
                    </div>
                    <div class="dropzone-loader">
                        <div class="dropzone-innerbar" id="dropzone-progress"></div>
                    </div>
                    <div class="dropzone-message"></div>

                </div>
            </div>

            <div class="tile">
                <div class="tile-header">
                    Vignette (min 120x120, en 1:1)
                </div>
                <div class="dropzone" id="dropzone-img-squarre">
                    <div class="dropzone-in">
                        <div class="dropzone-legend"></div>
                    </div>
                    <div class="dropzone-loader">
                        <div class="dropzone-innerbar" id="dropzone-progress"></div>
                    </div>
                    <div class="dropzone-message"></div>

                </div>
            </div>

            <div class="tile">
                <div class="tile-header">
                    Facebook (min 600x315, en 1.91:1)
                </div>
                <div class="dropzone" id="dropzone-img-fb">
                    <div class="dropzone-in">
                        <div class="dropzone-legend"></div>
                    </div>
                    <div class="dropzone-loader">
                        <div class="dropzone-innerbar" id="dropzone-progress"></div>
                    </div>
                    <div class="dropzone-message"></div>

                </div>
            </div>
        </div>

    </div>




{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script src="/js/vendor/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/vendor/ace/ext-emmet.js"></script>
    <script src="/js/vendor/emmet.js"></script>
    <script src="/js/admin/newPost.min.js"></script>
    <script>
        $(function(){

            var saveBtn, savePublishBtn, bandeau, squarre,
                    articleState,addTagBtn, tagsContainer, counter, form,
                    fb, imgUploaderBandeau, imgUploaderSquarre, imgUploaderFb ;

            articleState = {
                hasTitle: false,
                hasBody: false,
                hasTarget: false,
                hasCategory: false,
                hasExcerpt: false
            };

            $("textarea[data-editor]").each(function(){
                var textarea = $(this);
                var mode = textarea.data('editor') || 'html';
                var size = textarea.data('editorsize') || 'medium';
                var height = (size == "small") ? 250 : (size == "medium") ? 400 : (size == "large") ? 600 : 800;
                var options = {
                    position: 'absolute',
                    width: textarea.width(),
                    height: height,
                    'class': textarea.attr('class')
                };
                var editorDiv = $("<div/>", options);
                editorDiv.insertBefore(textarea);
                textarea.css('display','none');
                var editor = ace.edit(editorDiv[0]);
                editor.getSession().setValue(textarea.val());
                editor.setTheme('ace/theme/merbivore');
                editor.getSession().setMode('ace/mode/'+mode);
                editor.getSession().setUseWrapMode(true);
                editor.getSession().setWrapLimitRange(80,80);
                editor.renderer.setPrintMarginColumn(80);
                editor.setOption('enableEmmet', true);
                editor.getSession().on('change', function(e){
                    textarea.val(editor.getSession().getValue());
                });
            });

            addTagBtn = $("#addTagBtn");
            tagsContainer = $("#tagsContainer");
            counter = tagsContainer.children().length;
            function buildTagForm(idx){
                var template =
                        "<div class='form-row' id='post_form_tags_"+idx+"_name_parent'>"
                        +"<div class='form-field'>"
                        +"<div class='row'>"
                        +"<div class='column-10'>"
                        +"<input type='text' id='post_form_tags_"+idx+"_name' name='post_form[tags]["+idx+"][name]'/>"
                        +"</div>"
                        +"<div class='column-2'>"
                        +"<button class='removeTagBtn btn btn-primary' data-target='post_form_tags_"+idx+"_name_parent'><i class='fa fa-minus'></i></button>"
                        +"</div>"
                        +"</div>"
                        +"</div>"
                        +"</div>";
                return $(template);
            }
            addTagBtn.on("click", function(e){
                e.preventDefault();
                tagsContainer.append(buildTagForm(counter++));
                return false;
            });
            $("body").on("click", ".removeTagBtn", function(e){
                e.preventDefault();
                var target = $("#" + $(this).data("target")) || null;
                if(target){
                    target.remove();
                }
            });
            form = $("form[name='post_form']");
            console.log(form);
            saveBtn = $("#post_form_save");
            savePublishBtn = $("#post_form_save_publish");
            saveBtn.attr("disabled", true);
            savePublishBtn.attr("disabled", true);
            bandeau = $("#dropzone-img-bandeau");
            squarre = $("#dropzone-img-squarre ");
            fb = $("#dropzone-img-fb");

            function errorMessageBandeau(message){
                bandeau.find(".dropzone-message").text(message);
            }

            function loadDoneBandeau(response){
                $("#post_form_bandeau").val(response.pdfId);
                bandeau.find(".dropzone-message").text(response.msg);
            }

            function loadFailBandeau(response){
                bandeau.find(".dropzone-message").text(response.msg);
            }

            function errorMessageSquarre(message){
                squarre.find(".dropzone-message").text(message);
            }

            function loadDoneSquarre(response){
                $("#post_form_squarreThumb").val(response.pdfId);
                squarre.find(".dropzone-message").text(response.msg);
            }

            function loadFailSquarre(response){
                squarre.find(".dropzone-message").text(response.msg);
            }

            function errorMessageFb(message){
                fb.find(".dropzone-message").text(message);
            }

            function loadDoneFb(response){
                $("#post_form_fbThumb").val(response.pdfId);
                fb.find(".dropzone-message").text(response.msg);
            }

            function loadFailFb(response){
                fb.find(".dropzone-message").text(response.msg);
            }

            bandeau.zpbUploadImage({
                url: '{{ path("zpb_admin_posts_img_upload") }}',
                errorMessage: errorMessageBandeau,
                loadDone: loadDoneBandeau,
                loadFail: loadFailBandeau
            });

            squarre.zpbUploadImage({
                url: '{{ path("zpb_admin_posts_img_upload") }}',
                errorMessage: errorMessageSquarre,
                loadDone: loadDoneSquarre,
                loadFail: loadFailSquarre
            });

            fb.zpbUploadImage({
                url: '{{ path("zpb_admin_posts_img_upload") }}',
                errorMessage: errorMessageFb,
                loadDone: loadDoneFb,
                loadFail: loadFailFb
            });

            imgUploaderBandeau = bandeau.data("zpbUploadImage");
            imgUploaderSquarre = squarre.data("zpbUploadImage");
            imgUploaderFb = fb.data("zpbUploadImage");

            function articleStateChange(){
                if(articleState.hasTitle === true && saveBtn.attr("disabled") == "disabled"){
                    saveBtn.attr("disabled", false);
                }
            }

            $("#post_form_title").on("blur", function(e){
                if($(this).val().length > 0){
                    articleState.hasTitle = true;
                    articleStateChange();
                }
            })

        });
    </script>
{% endblock %}
