{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Les articles | Actualités{% endblock %}
{% set active = "list_posts" %}

{% block content %}
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Liste des Articles publiés
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>#Id</th>
                        <th>Titre</th>
                        <th>Date de publication</th>
                        <th>Sites cibles</th>
                        <th>Catégorie</th>
                        <th>Mots-clés</th>
                        <th>Modifier</th>
                        <th>Encorbeiller</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.id }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.publishedAt|date('d/m/y') }}</td>
                            <td>
                                {% if post.targets|length > 0 %}
                                    <ul>
                                        {% for target in post.targets %}
                                        <li>{{ target.name }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if post.category != null %}
                                    {{ post.category.name }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                {% if post.tags|length > 0 %}
                                    <ul>
                                        {% for tag in post.tags %}
                                            <li>{{ tag.name }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td><a class="btn btn-neutral" href="{{ path("zpb_admin_posts_update", {id: post.id}) }}"><i class="fa fa-edit"></i></a></td>
                            <td><a class="btn btn-neutral delete-alert" href="{{ path("zpb_admin_posts_delete", {id: post.id, _token: csrf_token('delete_post')}) }}"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
{% endblock %}
