{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Toutes les images associées à {{ animal.longName }} | Parrainages{% endblock %}
{% set active = "sponsor_img_by_animal" %}

{% block headStyles%}
    <style>
        .loader{
            display: inline-block;
            vert-align: middle;
            width: 16px;
            height: 16px;
            background: transparent url("/img/sites/ajax-loader.gif") no-repeat 0 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Toutes les images associées à {{ animal.longName }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Images HD (spéciales parrains)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-8">
            <div class="tile">
                    <div class="row"  id="hd-list">
                        {% for hd in hds %}
                            <div class="column-2" id="img-hd-{{ hd.id }}">
                                <div>
                                    <img src="{{ hd.getWebThumbPath() }}" alt="" width="100%"/>
                                    <div>
                                        <a class="btn btn-flat delete-hd" data-target="img-hd-{{ hd.id }}" href="{{ path("zpb_admin_sponsor_animals_delete_xhr_hd_images", {id: hd.id}) }}"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="column-4">
            <div class="tile">
                <div class="dropzone" id="hd-drop" data-id="{{ animal.id }}">
                    <div class="dropzone-in">
                        <div class="dropzone-legend"></div>
                    </div>
                    <div class="dropzone-loader">
                        <div class="dropzone-innerbar"></div>
                    </div>
                    <div class="dropzone-message"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Images fonds d'écran (spéciales parrains)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-8">
            <div class="tile">
                {% if wallpapers|length <1 %}
                    <p class="text-warning">Il n'y a pas de fonds d'écran</p>
                {% else %}
                    <ul id="wp-list">
                        {% for wallpaper in wallpapers %}
                            <li><img src="{{ wallpaper.getWebThumbPath() }}" alt=""/></li>
                        {% endfor %}
                    </ul>

                {% endif %}
            </div>
        </div>
        <div class="column-4">
            <div class="tile">
                <div class="dropzone" id="wallpaper-drop" data-id="{{ animal.id }}">
                    <div class="dropzone-in">
                        <div class="dropzone-legend"></div>
                    </div>
                    <div class="dropzone-loader">
                        <div class="dropzone-innerbar"></div>
                    </div>
                    <div class="dropzone-message"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Images de présentation (front end)
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="column-8">
            <div class="row">
                <div class="column-12">
                    <div class="tile">
                        <p>Image 4/3 minimun : 1200px x 900px</p>
                    </div>
                </div>
            </div>
            <div class="tile">
                {% if fronts|length <1 %}
                    <p class="text-warning">Il n'y a pas d'images de présentation</p>
                {% else %}
                    <ul id="front-list">
                        {% for front in fronts %}
                            <li><img src="{{ front.getWebThumbPath() }}" alt=""/></li>
                        {% endfor %}
                    </ul>

                {% endif %}
            </div>
        </div>
        <div class="column-4">
            <div class="tile">
                <div class="dropzone" id="front-drop" data-id="{{ animal.id }}">
                    <div class="dropzone-in">
                        <div class="dropzone-legend"></div>
                    </div>
                    <div class="dropzone-loader">
                        <div class="dropzone-innerbar"></div>
                    </div>
                    <div class="dropzone-message"></div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script src="/js/admin/animal-image-app.min.js"></script>
{% endblock %}
