<div id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4 class="text-center">Suivez-nous</h4>
                <div class="socials">
                    <ul class="inline">
                        <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube-square"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest-square"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-tumblr-square"></i></a></li
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col4-md-1 text-center" >
                <h4>Presse</h4>

                <ul>
                    <li><a href="{{  path("zpb_sites_zoo_phototheque_hd_index") }}">Galerie photo</a></li>
                    <li><a href="{{ path("zpb_sites_zoo_presse_dossiers") }}">Dossiers de presse</a></li>
                    <li><a href="{{ path("zpb_sites_zoo_presse_communiques") }}">Communiqués de presse</a></li>
                </ul>
            </div>
            <div class="col4-md-1 text-center">
                <h4>Contact</h4>
                <ul>
                    <li><a href="{{ path("zpb_sites_zoo_contact") }}">Contactez-nous</a></li>
                    <li><a href="{{ path("zpb_sites_zoo_faq") }}">Questions fréquentes</a></li>
                </ul>
            </div>

            <div class="col4-md-1 text-center">
                <h4>Emploi</h4>
                <p>Rejoignez l'équipe !</p>
                <a href="http://emploi.zoobeauval.com">emploi.zoobeauval.com</a>
            </div>
            <div class="col4-md-1 text-center">
                <h4>Newsletter</h4>
                <p>Recevez par email des nouvelles </p>
                <p>du ZooParc de Beauval</p>
                <ul>
                    <li><a href="{{ path("zpb_sites_zoo_newsletter_subscribe") }}">Je m'abonne !</a></li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="legals">
                    <ul class="inline">
                        <li><span class="alike">&copy; 2014 ZooParc de Beauval</span></li>
                        <li><a href="">Mentions légales</a></li>
                        <li><a href="">Plan du site</a></li>
                        <li><a href="{{ path("zpb_sites_zoo_cgv") }}">C.G.V</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
