<div id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h4 class="text-center">Suivez-nous</h4>
                <div class="socials">
                    <ul class="inline">
                        <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href=""><i class="fa fa-youtube-square"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest-square"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-tumblr-square"></i></a></li
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 text-center" >
                <h4>Presse</h4>

                <ul>
                    <li><a href="{{  path("zpb_sites_zoo_phototheque_hd_index") }}">Galerie photo</a></li>
                    <li><a href="{{ path("zpb_sites_zoo_presse_dossiers") }}">Dossiers de presse</a></li>
                    <li><a href="{{ path("zpb_sites_zoo_presse_communiques") }}">Communiqués de presse</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3 text-center">
                <h4>FAQ/Contact</h4>
                <ul>
                    <li>Vous trouverez ici les réponses aux questions le plus fréquemment posées aux équipes de Beauval :</li>
                    <li><a href="{{ path("zpb_sites_zoo_faq") }}">Questions fréquentes</a></li>
                    <li>Et pour tout renseignement complémentaire :</li>
                    <li><a href="{{ path("zpb_sites_zoo_contact") }}">Contactez-nous</a></li>
                </ul>
            </div>

            <div class="col-sm-3 col-md-3 text-center">
                <h4>Emploi</h4>
                <p>Rejoignez notre équipe !</p>
                <p>Stages, emplois, postes saisonniers : consultez nos offres sur le site dédié </p>
                <a href="http://emploi.zoobeauval.com">emploi.zoobeauval.com</a>
            </div>
            <div class="col-sm-3 col-md-3 text-center">
                <h4>Newsletter</h4>
                <p>Vous souhaitez recevoir des nouvelles de Beauval ?</p>
                <p>Inscrivez-vous à notre Newsletter !</p>
                <ul>
                    <li><a href="{{ path("zpb_sites_zoo_newsletter_subscribe") }}">Je m'abonne !</a></li>

                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="legals">
                    <ul class="inline">
                        <li><span class="alike">&copy; 2014 ZooParc de Beauval</span></li>
                        <li><a href="{{ path("zpb_sites_zoo_legales") }}">Mentions légales</a></li>
                        <li><a href="{{ path("zpb_sites_zoo_sitemap") }}">Plan du site</a></li>
                        <li><a href="{{ path("zpb_sites_zoo_cgv") }}">C.G.V</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
