{% set active_page = (active_page is defined) ? active_page : "" %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if block('title') %}{{ block('title')}}{% else %}Bienvenue{% endif %} | scolaires.zoobeauval.com</title>
    {% if block('description') %}
        <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/scolaires/master.css"/>
    {% endblock %}

    {% block headScripts %}{% endblock %}

    {% block headStyles %}

    {% endblock %}
</head>
<body>
{{ render(controller("ZPBSitesCommonBundle:Navs:topnav")) }}
{% block main %}
    {% block header %}
        <div id="site-header">
            {{ render(controller("ZPBSitesScolarBundle:Navs:mainbar")) }}
            {{ header_carousel("ZPBSitesCommonBundle:incs:header_carousel.html.twig") }}
        </div>
    {% endblock %}
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>


{% endblock %}

{{ render(controller("ZPBSitesScolarBundle:Partials:footer")) }}



</body>
</html>
