{% set active_page = (active_page is defined) ? active_page : "" %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if block('title') %}{{ block('title')}}{% else %}Bienvenue{% endif %} | scolaires.zoobeauval.com</title>
    {% if block('description') %}
        <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/scolaires/master.css"/>
    {% endblock %}

    {% block headScripts %}{% endblock %}

    {% block headStyles %}

    {% endblock %}
</head>
<body>
{{ render(controller("ZPBSitesCommonBundle:Navs:topnav")) }}
{% block main %}
    {% block header %}
        <div id="site-header">
            {{ render(controller("ZPBSitesScolarBundle:Navs:mainbar")) }}
            <div class="carousel" id="hCarousel">
                <div class="slides">
                    <div class="slide" id="slide_1">
                        <div class="slide-img-placeholder">
                            <img class="slide-img" src="/img/sites/common/headers/header_01.jpg" alt=""/>
                        </div>

                    </div>
                    <div class="slide hide" id="slide_2">
                        <div class="slide-img-placeholder" >
                            <img class="slide-img" src="/img/sites/common/headers/header_02.jpg" alt=""/>
                        </div>

                    </div>
                    <div class="slide hide" id="slide_3">
                        <div class="slide-img-placeholder" >
                            <img class="slide-img" src="/img/sites/common/headers/header_03.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="slide hide" id="slide_4">
                        <div class="slide-img-placeholder" >
                            <img class="slide-img" src="/img/sites/common/headers/header_04.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="slide hide" id="slide_5">
                        <div class="slide-img-placeholder" >
                            <img class="slide-img" src="/img/sites/common/headers/header_05.jpg" alt=""/>
                        </div>


                    </div>
                    <div class="slide hide" id="slide_6">
                        <div class="slide-img-placeholder" >
                            <img class="slide-img" src="/img/sites/common/headers/header_06.jpg" alt=""/>
                        </div>

                    </div>
                    <div class="slide hide" id="slide_7">
                        <div class="slide-img-placeholder" >
                            <img class="slide-img" src="/img/sites/common/headers/header_07.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="slide hide" id="slide_8">
                        <div class="slide-img-placeholder" >
                            <img class="slide-img" src="/img/sites/common/headers/header_08.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="slide hide" id="slide_9">
                        <div class="slide-img-placeholder" >
                            <img class="slide-img" src="/img/sites/common/headers/header_09.jpg" alt=""/>
                        </div>

                    </div>
                    <div class="slide hide" id="slide_10">
                        <div class="slide-img-placeholder" >
                            <img class="slide-img" src="/img/sites/common/headers/header_10.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="slide hide" id="slide_11">
                        <div class="slide-img-placeholder" >
                            <img class="slide-img" src="/img/sites/common/headers/header_11.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>


{% endblock %}

{{ render(controller("ZPBSitesScolarBundle:Partials:footer")) }}



</body>
</html>
