{% set active = (active is defined) ? active : "none" %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%  if block('title') %}{{ block('title') }}{% else %}Accueil{% endif %} | Admin | ZooBeauval</title>

    {% block headLinks %}
        <link rel="stylesheet" href="/css/admin/master.min.css"/>
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/common/tooltipster/tooltipster.css"/>
        <link rel="stylesheet" href="/css/common/tooltipster/themes/tooltipster-punk.css"/>
    {% endblock %}

    {% block headStyles %}{% endblock %}
    {% block headScripts %}{% endblock %}
</head>
<body class="theme_blue">
<div class="app">
    {% block navbar %}
        {{ render(controller("ZPBAdminBundle:Navs:topbar")) }}
    {% endblock %}
    {% block body %}
    <section class="master">
        {{ render(controller("ZPBAdminBundle:Navs:sidebar", {active: active})) }}
        <section class="main-content">
            <div class="wrapper">
                <div class="inside-wrapper">
                    {% if app.session.flashBag|length > 0 %}
                        {% for type,message in app.session.flashBag.all %}
                            <div class="dialogs">
                                <div class="dialog dialog-{{ type }}">
                                    <div class="dialog-close">&times;</div>
                                    <p>{{ message }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="container">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>
    </section>
    {% endblock %}
</div>


{% block footer %}{% endblock %}
{% block footScripts %}
    <script src="/js/admin/libs.js"></script>
    <script src="/js/admin/app.min.js"></script>
{% endblock %}
</body>
</html>
