{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}


{% block title %}Accueil{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}


{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Bienvenue au ZooParc de Beauval</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="slogan">
                    <p>Très engagé dans la protection des espèces menacées et classé parmi les 15 plus beaux zoos au monde, le ZooParc de Beauval est un lieu magique et inoubliable.</p>

                    <p>Plus de 5700 animaux évoluent au sein d'installations exceptionnelles : koalas, okapis, lamantins, kangourous arboricoles, tigres et lions blancs... sans oublier les pandas géants !</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="wrapper">
        <img src="/img/sites/zoo/nouveaute_2014.jpg" alt="" width="100%"/>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    <div class="page-header">
                        <h1>Aujourd'hui à Beauval</h1>
                        <div class="slogan">
                            <p class="sautdeligne">Tout au long de l’année, l’équipe pédagogique propose aux visiteurs des rendez-vous aux quatre coins du ZooParc, au cours desquels un animateur explique tout de la vie et des mœurs des espèces présentes à Beauval, le plus souvent au cours d'un nourrissage.</p>
                            <p>Animés par des commentaires pédagogiques, les spectacles d’oiseaux et d’otaries ont lieu tous les jours de fin mars à mi-novembre.</p>

                        </div>
                    </div>
                </div>
                <div class="col-1"></div>


            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4 text-center">
                    <a class="btn btn-warning btn-xlarge" href="">Consulter les horaires</a>
                </div>
                <div class="col-1"></div>
            </div>

        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col_sm-2 col-2">
                    <a href="#">
                        <div class="jqlegender jqlegender-atelier">
                            <img src="/img/sites/fixtures/Ateliers-pedagogiques.jpg" alt="" width="100%"/>
                            <div class="jqlegend">
                                <div class="title">Ateliers pédagogiques</div>
                                <div class="icon">
                                    {{ include("ZPBSitesZooBundle:incs:atelier_svg.html.twig") }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col_sm-2 col-2">
                    <a href="#">
                        <div class="jqlegender jqlegender-soigneur">
                            <img src="/img/sites/fixtures/Soigneur-d-un-Jour.jpg" alt="" width="100%"/>
                            <div class="jqlegend">
                                <div class="title">Soigneur d'un jour</div>
                                <div class="icon">
                                    {{ include("ZPBSitesZooBundle:incs:empreinte_svg.html.twig") }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col_sm-2 col-2">
                    <a href="{{ path("zpb_sites_zoo_actualites_carnet_rose") }}">
                        <div class="jqlegender jqlegender-rose">
                            <img src="/img/sites/fixtures/Carnet-Rose.jpg" alt="" width="100%"/>
                            <div class="jqlegend">
                                <div class="title">Carnet Rose</div>
                                <div class="icon">
                                    {{ include("ZPBSitesZooBundle:incs:cigogne_svg.html.twig") }}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>





{% endblock %}


{% block footScripts %}
    {{ parent() }}
    <script>
        (function($, w){

            $.fn.jqLegender = function(o){

                var defaults = {};
                var opts = $.extend({}, defaults, o||{});

                return this.each(function(){
                    var $this = $(this),
                            legend = $this.find(".jqlegend"),
                            title = legend.find(".title"),
                            legendHeight = legend.height(),
                            titleHeight = title.height();

                    function update(){
                        legend.css("top", ($this.height() - titleHeight) + "px");
                    }



                    $this.on("mouseover", function(e){
                        legend.css("top", ($this.height() - legendHeight) + "px");

                    });
                    $this.on("mouseout", function(e){
                        legend.css("top",  ($this.height() - titleHeight) + "px");

                    });

                    $(w).on("resize", function(){
                        update();
                    });

                    update();
                });
            }
        }
        )(jQuery, this);
        $(function(){
            $(".jqlegender").jqLegender();

        });
    </script>


{% endblock %}
