{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Créer | Les FAQs{% endblock %}
{% set active = "faq_new" %}

{% block content %}
    <div class="row">
        <div class="column-3"></div>
        <div class="column-6">
            <div class="tile">
                <div class="tile-header">
                    Nouvelle Faq
                </div>
                {{ form_start(form, {attr:{class: "form", novalidate:true}}) }}
                {{ form_errors(form) }}

                <div class="form-row {% if form.question.vars.errors|length>0 %}has-error{% endif %}">
                    {{ form_label(form.question) }}
                    <div class="form-field">
                        {{ form_widget(form.question) }}
                        {% if form.question.vars.errors|length>0 %}
                        <div class="error-block">
                            {{ form_errors(form.question)}}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row {% if form.response.vars.errors|length>0 %}has-error{% endif %}">
                    {{ form_label(form.question) }}
                    <div class="form-field">
                        {{ form_widget(form.response) }}
                        {% if form.question.vars.errors|length>0 %}
                            <div class="error-block">
                                {{ form_errors(form.question)}}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_widget(form.save, {attr: {class: "btn-flat btn-primary"}})}}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="column-3"></div>
    </div>
{% endblock %}
