{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Statistiques | Photothèque{% endblock %}
{% set active = "stats_photo" %}

{% block content %}
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Statistiques de la photothèque
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Téléchargement d'images tout confondu sur l'année en cours
                </div>
                <canvas id="dl-by-month" width="800" height="250"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Classement des 20 photos les plus téléchargées
                </div>
                <canvas id="ranking" width="800" height="250"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Classement des 20 photos les moins téléchargées
                </div>
                <canvas id="rankingLess" width="800" height="250"></canvas>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Classement des sites de téléchargements
                </div>
                <canvas id="host" width="800" height="400"></canvas>
            </div>
        </div>
    </div>
{% endblock %}
{% block footScripts %}
    {{ parent() }}

    <script src="/js/vendor/Chart.min.js"></script>

    <script>
        $(function(){

            var dlByMonthCtx = $("#dl-by-month").get(0).getContext("2d");
            var rankingCtx = $("#ranking").get(0).getContext("2d");
            var rankingLessCtx = $("#rankingLess").get(0).getContext("2d");
            var hostCtx = $("#host").get(0).getContext("2d");
            var datas;
            datas = {
                labels: ["Janvier", "Février", "Mars","Avril","Mai","Juin","Juillet","Août","Septembre","Octobre","Novembre","Décembre"],
                datasets: [
                    {
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [{% for r in downloadsByMonth %}{{ r }}{% if loop.last != true %}, {% endif %}{% endfor %}]
                    }
                ]
            };
            var dlByMonthLineChart = new Chart(dlByMonthCtx).Line(datas);

            datas = {
                labels: [{{ rkLabels|raw }}],
                datasets: [
                    {
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [{{ rkNums }}]
                    }
                ]
            };

            var rankingBarChart = new Chart(rankingCtx).Bar(datas);

            datas = {
                labels: [{{ rkLessLabels|raw }}],
                datasets: [
                    {
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [{{ rkLessNums }}]
                    }
                ]
            };

            var rankingLessBarChart = new Chart(rankingLessCtx).Bar(datas);

            datas = {
                labels: [{{ hostLabels|raw }}],
                datasets: [
                    {
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,0.8)",
                        highlightFill: "rgba(220,220,220,0.75)",
                        highlightStroke: "rgba(220,220,220,1)",
                        data: [{{ hostNums }}]
                    }
                ]
            };

            var hostBarChart = new Chart(hostCtx).Bar(datas);
        });
    </script>
{% endblock %}
