{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% block title %}Galerie photo{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "phototheque" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>Galerie photo</h1>
                </div>
            </div>
        </div>

        <div class="spaced-row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="page-intro">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus id magnam nesciunt rem. Amet
                        autem delectus distinctio, ea eligendi esse illo, impedit laudantium magni mollitia
                        necessitatibus nisi nulla, officia officiis perferendis quasi repellendus totam velit.
                        Aspernatur at expedita fugiat magnam! A aperiam, doloribus eos laborum minus molestias
                        necessitatibus officiis sint!</p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="spaced-row">
            <div class="col-sm-12 col-md-12 text-center">Filtrer par :</div>
            <div class="col-sm-12 col-md-12 text-center" id="filters">
                <button class="btn btn-filtre is-filter" data-filter="*">Tous</button>
                {% for institution in institutions %}
                    <button class="btn btn-filtre" data-filter=".{{ institution.slug }}">{{ institution.name }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12 col-md-12">
                <div id="iso-container">
                    <ul class="grid-sm-2 grid-md-4">
                        {% for institution in institutions %}
                            {% set institut = institution.slug %}
                            {% for category in institution.photoCategories %}
                                {% if category.hasPhotos == true %}
                                    {% set cat = category.slug %}
                                    <li class="category-box {{ institut }}" >
                                        <a class="" href="{{ path("zpb_sites_zoo_phototheque_show_category", {institutslug: institut , catslug: cat}) }}">
                                            <div class="photo-category-box">
                                                <div class="photo-category-card">
                                                    <div class="shade">
                                                        <img src="{{ category.firstPhoto.webPath }}" alt="" width="100%"/>
                                                    </div>
                                                    <p class="text-center">
                                                        <a href="{{ path("zpb_sites_zoo_phototheque_show_category", {institutslug: institut , catslug: cat}) }}" class="btn btn-primary">{{ category }}</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block footScripts%}
    {{ parent() }}
    <script src="/js/vendor/isotope.pkgd.min.js"></script>

    <script>
        $(function(){
            var isoContainer = $("#iso-container").isotope({
                itemSelector: '.category-box',
                layoutMode: 'fitRows'
            });
            var btns = $("#filters");
            btns.on("click", "button", function(){
                var filterVal = $(this).attr("data-filter");
                isoContainer.isotope({filter: filterVal});
            });
            btns.on("click", "button", function(){
                btns.find(".is-filter").removeClass("is-filter");
                $(this).addClass("is-filter");
            });

        });
    </script>
{% endblock %}
