{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Photothèque{% endblock %}


{% block content %}
    <div class="columns large-12">
        <h1>{{ institution }} </h1>
        <h2>Photos classées dans {{ category }}</h2>

        <div class="row">
            <div class="columns large-12">
                <ul data-orbit>
                    {% for photo in photos %}
                        <li>
                            <img src="{{ photo_factory.getWebThumb('xlarge', photo) }}" alt="slide {{ loop.index }}" width="100%"/>
                            <div class="orbit-caption">
                                {{ photo.legend }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="columns large-12">
                <h4>Télécharger</h4>
                <ul class="medium-block-grid-6">
                    {% for photo in photos %}
                        <li><a class="th" href="{{ path("zpb_sites_zoo_download_image", {filename: photo.filename}) }}"><img src="{{ photo_factory.getWebThumb('regular', photo) }}" alt="" title="{{ photo.title~photo.copyright }}"/></a></li>
                    {% endfor %}
                </ul>

            </div>
        </div>

    </div>
{% endblock %}
