{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% block title %}{{ category }} | {{ institution }} | Photothèque{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "phototheque" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header"><h1>Galerie photo </h1></div>
                <h2>{{ institution }}</h2>
                <h3>Photos classées dans {{ category }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div id="slider">
                    {% for photo in photos %}
                        <div><img src="{{ photo_factory.getWebThumb('xlarge', photo) }}" alt="slide {{ loop.index }}" width="100%"/></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h4>Télécharger</h4>
                <div class="row">
                    <ul class="grid-6">
                        {% for photo in photos %}
                            <li >
                                <a class="thumb" href="{{ path("zpb_sites_zoo_download_image", {filename: photo.filename}) }}">
                                    <img src="{{ photo_factory.getWebThumb('regular', photo) }}" alt="" title="{{ photo.title~photo.copyright }}" width="100%"/>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block headLinks %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/vendor/slick/slick.css"/>
{% endblock %}
{% block footScripts %}
{{ parent() }}
    <script src="/js/vendor/slick/slick.min.js"></script>
    <script>
        $(function(){
            $("#slider").slick({
                dots: true,
                fade: true,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 5000

            });
        });
    </script>
{% endblock %}
