{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Communiqués de presse{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "presse_communiques" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Communiqués de presse</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="spaced-row">
                <div class="col-md-6">
                    {% if prs|length>0 %}
                        {% for pr in prs %}
                            <div class="spaced-row">
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <header>
                                        <h4>{{ pr.title }}</h4>
                                        <p>{{ pr.createdAt|date("d/m/y") }}</p>
                                    </header>
                                    <article>
                                        {% if pr.image != null %}
                                            <img src="{{ press_release_img_url(pr.image) }}" alt=""/>
                                            {% else %}
                                                <img src="{{ press_release_img_def_url() }}" alt="" width="120px"/>
                                        {% endif %}
                                        <p>{{ pr.body|raw }}</p>
                                    </article>
                                    <footer>
                                        <p><a href="{{ pdf_url(pr.pdfFr) }}">Télécharger le pdf</a></p>
                                        {% if pr.pdfEn != null %}
                                            <p><a href="{{ pdf_url(pr.pdfEn) }}">Télécharger le pdf en anglais</a></p>
                                        {% endif %}
                                    </footer>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h1>Oups! il n'y a pas de communiqués de presse</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-6">
                <div class="testbox testbox-5"></div>
            </div>
        </div>
    </div>
{% endblock %}
