{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Communiqués de presse{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "presse_communiques" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Communiqués de presse</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="spaced-row">
                <div class="col-6">
                    {% if prs|length>0 %}
                        {% for pr in prs %}
                            <div class="spaced-row">
                                <div class="col-1"></div>
                                <div class="col-4">
                                    <h4>{{ pr.title }}</h4>
                                    {% if pr.image != null %}
                                    <img src="{{ img_thumb(pr.image, 'regular') }}" alt=""/>
                                    {% endif %}
                                    <p>{{ pr.body|raw }}</p>

                                    <p><a href="{{ pdf_url(pr.pdfFr) }}">Télécharger le pdf</a></p>
                                    {% if pr.pdfEn != null %}
                                        <p><a href="{{ pdf_url(pdfEn) }}">Télécharger le pdf en anglais</a></p>
                                    {% endif %}
                                </div>
                                <div class="col-1"></div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h1>Oups! il n'y a pas de communiqués de presse</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="container">
            <div class="col-6">
                <div class="testbox testbox-5"></div>
            </div>
        </div>
    </div>
{% endblock %}
