{% extends "ZPBSitesBNBundle:Layouts:master.html.twig" %}

{% block topnav %}
    {{ render(controller("ZPBSitesCommonBundle:English/Navs:topnav", {url: path("zpb_sites_bn_homepage")})) }}
{% endblock %}

{% block mainbar %}
    {{ render(controller("ZPBSitesBNBundle:English/Navs:mainbar", {active_page: active_page})) }}
{% endblock %}

{% block tickets %}
    <div class="tickets tickets-left">
        <a href="">
            <div class="inner">
                Make a <br/> donation
                {{ include("ZPBSitesZooBundle:incs:billet_svg.html.twig") }}
            </div>
        </a>
    </div>

    <div class="tickets tickets-right">
        <a href="{{ path("zpb_sites_zoo_parrainages_homepage") }}">
            <div class="inner">
                Sponsor<br>an animal
                {{ include("ZPBSitesZooBundle:incs:parrainer_svg.html.twig") }}
            </div>
        </a>
    </div>
{% endblock %}

{% block secondary_mainbar %}
    {{ render(controller("ZPBSitesBNBundle:English/Navs:secondaryMainbar", {active_page: active_page})) }}
{% endblock %}


{% block footer %}
    {{ render(controller("ZPBSitesBNBundle:English/Partials:footer")) }}
{% endblock %}
