{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Liste des dossiers de presse | ZooParc de Beauval{% endblock %}
{% set active = "list_press_kit" %}

{% block content %}
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">Liste des dossiers de presse</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>#Id</th>
                        <th>Titre</th>
                        <th>Vignette</th>
                        <th>Pdf fr</th>
                        <th>Pdf en</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if entities|length < 1 %}
                        <tr class="warning"><td colspan="7">Il n'y a pas de dossiers de presse enregistrés.</td></tr>
                    {% else %}
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.title }}</td>
                                <td>{% if entity.image != null %}<img src="{{ img_thumb(entity.image, 'small') }}" alt=""/>{% else %} - {% endif %}</td>
                                <td><a class="btn btn-neutral" href="{{ pdf_url(entity.pdfFr) }}"><i class="fa fa-file-pdf-o"></i></a></td>
                                <td>{% if entity.pdfEn != null %}<a class="btn btn-neutral" href="{{ pdf_url(entity.pdfEn) }}"><i class="fa fa-file-pdf-o"></i></a>{% else %}-{% endif %}</td>
                                <td><a class="btn btn-neutral" href="{{ path("zpb_admin_general_press_kit_update", {id: entity.id}) }}"><i class="fa fa-edit"></i></a></td>
                                <td><a class="btn btn-neutral alert-delete" href="{{ path("zpb_admin_general_press_kit_delete", {id: entity.id, _token: csrf_token('delete_press_kit')}) }}" data-name="{{ entity.title }}"><i class="fa fa-trash-o"></i></a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
