{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Mon panier | Parrainez un animal{% endblock %}
{% block headStyles %}
    {{ parent() }}
    <style>
        .pack{
            background-color: #abbabe;
            padding-top: 16px;
            padding-bottom: 16px;
            margin-bottom: 16px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
        }
        .pack .thumbnail{
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Votre Panier</h1>
                </div>
            </div>
        </div>
        <div class="spaced-row">
            <div class="col-4">
                {{ render(controller("ZPBSitesZooBundle:Parrainage/Index:connect")) }}
            </div>
            <div class="col-2">
                {#{{ render(controller("ZPBSitesZooBundle:Parrainage/Index:getBasket")) }}#}
            </div>
        </div>
        <div class="spaced-row">
            <div id="cart">
                <div class="col_sm-6 col-6">
                {% if packs|length > 0 %}

                    <div class="row">
                        <div id="cart-header">

                            <div class="col-sm-1 col-md-1 col-cart-header">Animal</div>
                            <div class="col-sm-1 col-md-1 col-cart-header">Formule</div>
                            <div class="col-sm-1 col-md-1 col-cart-header">Bénéficiaire</div>
                            <div class="col-sm-1 col-md-1 col-cart-header">Différé</div>
                            <div class="col-sm-1 col-md-1 col-cart-header">Montant</div>
                            <div class="col-sm-1 col-md-1 col-cart-header"></div>
                        </div>
                    </div>
                {% for id,pack in packs %}

                    <div class="row">
                        <div class="cart-article-row">
                            <div class="col-sm-1 col-md-1 text-center">
                                <div>{{ pack.animal.name }}</div>
                                <img src="http://lorempicsum.com/nemo/80/60/1" alt=""/>
                            </div>

                            <div class="col-sm-1 col-md-1 text-center">{{ pack.pack.name }}</div>
                            <div class="col-sm-1 col-md-1 text-center">
                                {% if pack.godparent != null %}
                                    {{ pack.godparent.firstname }} {{ pack.godparent.lastname }}
                                {% else %}Vous{% endif %}
                            </div>
                            <div class="col-sm-1 col-md-1 text-center">
                                {%  if pack.delayed != null %}Parrainage différé au {{ pack.delayed|date("d/m/y") }}{% else %} - {% endif %}
                            </div>
                            <div class="col-sm-1 col-md-1 text-center">
                                {{ pack.pack.price }}&euro;
                            </div>
                            <div class="col-sm-1 col-md-1 text-center">
                                <a class="btn btn-primary" href="{{ path("zpb_sites_zoo_parrainage_remove_from_basket", {id: id, _token: csrf_token("delete_from_basket")}) }}"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </div>
                    </div>



                {% endfor %}
                    {% set price = 0 %}
                    {% set priceRedux = 0 %}
                    {% for pack in packs %}
                        {% set price = price + pack.pack.price %}
                        {% set priceRedux = priceRedux + pack.pack.taxFreePrice %}
                    {% endfor %}
                    <div class="row">
                        <div id="cart-footer">
                            <div class="col-sm-3 col-md-3 col-cart-footer"></div>
                            <div class="col-sm-1 col-md-1 col-cart-footer">Total</div>
                            <div class="col-sm-1 col-md-1 col-cart-footer-value ">{{ price|number_format(2,',','.') }}&euro;</div>
                            <div class="col-sm-1 col-md-1 col-cart-footer"></div>

                        </div>
                    </div>

                    <div class="row">
                        <div id="cart-footer-reduc">
                            <div class="col-sm-2 col-md-2"></div>
                            <div class="col-sm-2 col-md-2">Soit après déduction fiscale</div>
                            <div class="col-sm-1 col-md-1 cart-footer-reduc-value">{{ priceRedux|number_format(2,',','.') }}&euro;</div>
                            <div class="col-sm-1 col-md-1"></div>
                        </div>
                    </div>



                {% else %}
                    <p>Votre panier est vide.</p>
                {% endif %}
            </div>
            </div>
        </div>

        <div class="spaced-row">
            <div class="col-sm-6 col-md-6 text-center {% if packs|length > 0  %} cart-actions{% endif %}" >
                <a class="btn btn-vert btn-xlarge" href="{{ path("zpb_sites_zoo_parrainages_homepage") }}">Ajouter des parrainages</a>
                {% if packs|length > 0 %}
                    <a class="btn btn-primary btn-xlarge" href="{{ path("zpb_sites_zoo_parrainages_login_or_register", {type: "internet"}) }}">Regler par carte bancaire</a> {# TODO #}
                    <a class="btn btn-primary btn-xlarge" href="{{ path("zpb_sites_zoo_parrainages_login_or_register", {type: "postal"}) }}">Regler par courrier</a> {# TODO #}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footScripts %}
    {{ parent() }}
    <script src="/js/app.min.js"></script>
{% endblock %}
