{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Parrainez un animal{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Parrainages</h1>
                </div>
            </div>
        </div>

        <div class="spaced-row">
            <div class="col-4">
                {{ render(controller("ZPBSitesZooBundle:Parrainage/Index:connect")) }}
            </div>
            <div class="col-2">
                {{ render(controller("ZPBSitesZooBundle:Parrainage/Index:getBasket")) }}
            </div>
        </div>

        <div class="spaced-row">
            <div class="col-6" id="filters">

                <button class="btn btn-grisfonce btn-small"  data-filter="*">tous</button>
                {% for cat in categories %}
                    <button class="btn btn-grisfonce btn-small" id="{{ cat.slug }}" data-filter=".{{ cat.slug }}">{{ cat.name }}</button>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div id="iso-container">
                    {% for animal in animals %}
                        <div class="animal-box {{ animal.category.slug }}" >
                            <div class="animal-card">
                                <div class="shade">
                                    <img class="th" src="http://lorempicsum.com/nemo/600/450/{{ random(5) + 1 }}" alt=""/>
                                </div>
                                <h5>{{ animal.longName }}</h5>
                                {{ animal.shortDescription|raw }}
                                <p><a class="btn btn-grisfonce" href="{{ path("zpb_sites_zoo_parrainages_animal_show", {name: animal.canonicalLongName}) }}">Plus d'infos</a></p>
                            </div>
                        </div>
                    {% endfor %}
                    {% for n in 1..18 %}

                        <div class="animal-box {{ categories[random((categories|length) -1)].slug }}" >
                            <div class="animal-card">
                                <div class="shade">
                                    <img class="th" src="http://lorempicsum.com/nemo/600/450/{{ random(5) + 1 }}" alt=""/>
                                </div>
                                <h5>Lorem ipsum dolor.</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores exercitationem iusto.</p>
                                <p><a class="btn btn-grisfonce" href="javascript:void(0)">Plus d'infos</a></p>
                            </div>

                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block footScripts%}
    {{ parent() }}
    <script src="/js/vendor/isotope.pkgd.min.js"></script>
    <script src="/js/app.min.js"></script>
    <script>
        $(function(){
            var isoContainer = $("#iso-container").isotope({
                itemSelector: '.animal-box',
                layoutMode: 'fitRows'
            });
            var btns = $("#filters");
            btns.on("click", "button", function(){
                var filterVal = $(this).attr("data-filter");
                isoContainer.isotope({filter: filterVal});
            });

        });
    </script>
{% endblock %}
