{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Mon panier | Parrainez un animal{% endblock %}


{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Identifiez-vous</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="spaced-row">
            <div class="col-md-4">
                {#{{ render(controller("ZPBSitesZooBundle:Parrainage/Index:connect")) }}#}
            </div>
            <div class="col-md-2">
                {{ render(controller("ZPBSitesZooBundle:Parrainage/Index:getBasket")) }}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="spaced-row">
            <div class="col-md-3">
                <h3>J'ai déjà un compte</h3>
                <form action="{{ path("zpb_sites_zoo_parrainages_login_check") }}" method="post" class="form">
                    <div class="form-row">
                        <div class="form-field">
                            <label for="username">Pseudo ou adresse email</label>
                            <div class="form-field">
                                <input type="text" id="username" name="_username" value="{#{{ last_username }}#}" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-field">
                            <label for="password">Mot de passe</label>
                            <div class="form-field">
                                <input type="password" id="password" name="_password" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                    <input type="hidden" name="_target_path" value="{{ path("zpb_sites_zoo_parrainages_payment_recap") }}" />

                    <div class="form-row">
                        <div class="form-field">
                            <button type="submit" class="btn btn-primary">login</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <h3>Je n'ai pas de compte</h3>
                {{ form_start(form, {attr:{novalidate:true, class:"form"}}) }}
                <div class="form-row">
                    {{ form_label(form.civilite) }}
                    <div class="form-field">
                        {{ form_widget(form.civilite) }}
                        {{ form_errors(form.civilite) }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.birthdate) }}
                    <div class="form-field">
                        {{ form_widget(form.birthdate) }}
                        {{ form_errors(form.birthdate) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.firstname) }}
                    <div class="form-field">
                        {{ form_widget(form.firstname) }}
                        {{ form_errors(form.firstname) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.lastname) }}
                    <div class="form-field">
                        {{ form_widget(form.lastname) }}
                        {{ form_errors(form.lastname) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.username) }}
                    <div class="form-field">
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.email) }}
                    <div class="form-field">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.phone) }}
                    <div class="form-field">
                        {{ form_widget(form.phone) }}
                        {{ form_errors(form.phone) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.address) }}
                    <div class="form-field">
                        {{ form_widget(form.address) }}
                        {{ form_errors(form.address) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.address2) }}
                    <div class="form-field">
                        {{ form_widget(form.address2) }}
                        {{ form_errors(form.address2) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.batiment) }}
                    <div class="form-field">
                        {{ form_widget(form.batiment) }}
                        {{ form_errors(form.batiment) }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.door) }}
                    <div class="form-field">
                        {{ form_widget(form.door) }}
                        {{ form_errors(form.door) }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.floor) }}
                    <div class="form-field">
                        {{ form_widget(form.floor) }}
                        {{ form_errors(form.floor) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.postalCode) }}
                    <div class="form-field">
                        {{ form_widget(form.postalCode) }}
                        {{ form_errors(form.postalCode) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.city) }}
                    <div class="form-field">
                        {{ form_widget(form.city) }}
                        {{ form_errors(form.city) }}
                    </div>
                </div>

                <div class="form-row">
                    {{ form_label(form.country) }}
                    <div class="form-field">
                        {{ form_widget(form.country) }}
                        {{ form_errors(form.country) }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-field">
                        {{ form_widget(form.save, {attr:{class: "btn btn-primary"}}) }}
                    </div>
                </div>


                {{ form_end(form) }}
            </div>
        </div>
    </div>



{% endblock %}
