{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Ma commande | Parrainez un animal{% endblock %}


{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Récapitulatif avant paiement</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="spaced-row">
            <div class="col-4">
                {{ render(controller("ZPBSitesZooBundle:Parrainage/Index:connect")) }}
            </div>
            <div class="col-2">
                {{ render(controller("ZPBSitesZooBundle:Parrainage/Index:getBasket")) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul>
                    {% for item in items %}
                    <li>
                        <p>Animal parrainé : {{ item.animal.name }}</p>

                        <p>Formule : {{ item.pack.name }}</p>

                        <p>Parrain : {{ item.godparent.firstname }} {{ item.godparent.lastname }}</p>

                        {% if item.delayed != null %}
                        <p>Début du parrainage : {{ item.delayed|date("d/m/Y") }}</p>
                        {% endif %}
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <p>J'accepte les conditions générales de ventes</p>
                {{ form(form) }}
            </div>
        </div>
    </div>


{% endblock %}
