{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}{{animal.name}} | Parrainez un animal{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Parrainages</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="spaced-row">
            <div class="col-4">
                {{ render(controller("ZPBSitesZooBundle:Parrainage/Index:connect")) }}
            </div>
            <div class="col-2">
                {{ render(controller("ZPBSitesZooBundle:Parrainage/Index:getBasket")) }}
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-6">
                <h2 class="text-center">{{ animal.longName }}</h2>
            </div>

            <div class="col-6">
                <div class="two-column">
                    <h4>Description</h4>
                    {{ animal.longDescription|raw }}
                    <h4>Identité</h4>
                    <p><strong>Date de naissance</strong> : {{ animal.bornAt|date("d-m-y") }}, {{ animal.bornIn }}</p>
                    <p><strong>Age</strong> : {{ animal.age }}</p>
                    <p><strong>Sexe</strong> : {{ animal.sex }}</p>
                    <h4>Histoire</h4>
                    {{ animal.history|raw }}

                </div>
            </div>
        </div>

    </div>

    <div class="wrapper" style="background-color: #2e85a3;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="th" src="/img/sites/fixtures/fake.jpg" alt="" style="width: 100%; display: block;"/>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="je-parraine" class="col-6">
                <h2 class="text-center">Comment parrainer ?</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="panel">
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem culpa eum eveniet ipsa
                            iusto nihil perspiciatis quas sint vero.
                        </li>
                        <li>Animi atque earum et eum excepturi exercitationem facilis illo ipsam maiores nobis nulla,
                            possimus quaerat repellat sequi sunt tenetur voluptas.
                        </li>
                        <li>Blanditiis esse id maiores nam nobis pariatur quaerat quas? Ab aspernatur consequuntur
                            cupiditate iusto minus obcaecati perspiciatis quisquam suscipit ut.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="spaced-row">
            <div class="col-6">
                <div class="row">
                    <form action="{{ path("zpb_sites_zoo_parrainages_add_to_basket") }}" method="post">
                        <div class="col-3"> <!-- formules -->
                            {% for formula in formulas %}
                                <div>
                                    <input type="radio" name="sponsorship_form[pack]" id="sponsorship_{{ formula.id }}" value="{{ formula.id }}"/>
                                    <label for="sponsorship_{{ formula.id }}">{{ formula.price }}€ {{ formula.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-3"> <!-- cadeaux -->
                            {% for gift in gifts %}
                                <div class="gift">
                                    <span>{{ gift.name }}</span>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {#<div class="container">

        <div class="spaced-row">
            <div class="col-6">


                {% if formulas|length>0 %}
                    <form action="{{ path("zpb_sites_zoo_parrainages_add_to_basket") }}" method="post">
                        <div class="row offers">
                            <div class="col-3">
                                <div id="in-offers">
                                    {% for formula in formulas %}
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="offer{% if loop.first == true %} active{% endif %}" id="{{ formula.slug }}">
                                                    <input type="radio" name="sponsorship_form[pack]" id="sponsorship_{{ formula.id }}" value="{{ formula.id }}"/>
                                                    <label for="sponsorship_{{ formula.id }}">{{ formula.price }}€ {{ formula.name }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-3">
                                {% for gift in gifts %}
                                    <div class="gift">
                                        <span class="isChecked" id="mark-{{ gift.id }}"><i class="fa fa-check"></i></span><span class="giftName">{{ gift.name }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row offers">
                            <div class="col-3">
                                <div class="offer active">
                                    Soit <strong><span class="redux">00.00</span></strong>€ après reduction fiscale
                                </div>
                            </div>
                            <div class="col-3">
                                <input name="sponsorship_form[animal]" type="hidden" value="{{ animal.id }}"/>
                                <input name="sponsorship_form[_token]" type="hidden" value="{{ csrf_token("add_sponsorship") }}"/>
                                <button type="submit" class="button success large" name="sponsorship_form[submit]" value="offer">J'offre ce parrainage</button><button type="submit" class="button success large" name="sponsorship_form[submit]" value="forme">Je parraine</button>
                            </div>
                        </div>
                    </form>
                {% endif %}

            </div>

        </div>
    </div>#}

{% endblock %}
{% block footScripts %}
{{ parent() }}
    <script>
        var $offers, $radios,$isChecked, giftsByOffer, $redux;
        giftsByOffer = {
            {% for offer in formulas %}
            "{{ offer.slug }}" : {"price":"{{ offer.taxFreePrice|number_format(2,',','.') }}", "gifts" : [
                {% for g in offer.giftDefinitions %}
                "mark-{{ g.id }}"{% if loop.last != true %},{% endif %}
                {% endfor %}
            ]}{% if loop.last != true %},{% endif %}
            {% endfor %}
        };
        $offers = $("#in-offers .offer");
        $isChecked = $(".isChecked");
        $radios = $offers.find("input[type='radio']");
        $redux = $(".redux");
        $offers.removeClass("active");
        $radios.prop("checked", null);
        function markFormula($el){
            $offers.removeClass("active");
            $radios.prop("checked", null);
            $isChecked.removeClass("inPack");
            var radio = $el.find("input[type='radio']");
            radio.prop("checked", "checked");
            $el.addClass("active");

            var marked = giftsByOffer[$el.attr("id")]["gifts"];
            if(marked.length){
                $.each(marked,function(i,e){
                    $("#"+e).addClass("inPack");
                });
            }
            $redux.text(giftsByOffer[$el.attr("id")]["price"]);
        }
        console.log($offers);
        markFormula($offers.first());
        $(function(){
            $offers.on("click", function(e){
                e.preventDefault();
                var $el = $(e.currentTarget);
                markFormula($el);
            });
        });
    </script>
{% endblock %}
