{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}{{animal.name}} | Parrainez un animal{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Parrainages</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="spaced-row">
            <div class="col-4">
                {{ render(controller("ZPBSitesZooBundle:Parrainage/Index:connect")) }}
            </div>
            <div class="col-2">
                {{ render(controller("ZPBSitesZooBundle:Parrainage/Index:getBasket")) }}
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-6">
                <h2 class="text-center">{{ animal.longName }}</h2>
            </div>

            <div class="col-6">
                <div class="two-column">
                    <h4>Description</h4>
                    {{ animal.longDescription|raw }}
                    <h4>Identité</h4>
                    <p><strong>Date de naissance</strong> : {{ animal.bornAt|date("d-m-y") }}, {{ animal.bornIn }}</p>
                    <p><strong>Age</strong> : {{ animal.age }}</p>
                    <p><strong>Sexe</strong> : {{ animal.sex }}</p>
                    <h4>Histoire</h4>
                    {{ animal.history|raw }}

                </div>
            </div>
        </div>

    </div>

    <div class="wrapper" style="background-color: #313133;">
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                    <img class="th" src="/img/sites/fixtures/fake.jpg" alt="" style="width: 100%; display: block;"/>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div id="je-parraine" class="col-6">
                <h2 class="text-center">Je parraine !</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="spaced-row">
            <div class="col-1"></div>
            <div class="col-4">
                <div class="panel text-center">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur deleniti enim est et nam
                        optio possimus, quibusdam quis tempore velit.</p>

                    <p>At consectetur culpa distinctio dolor dolorem earum facilis iste labore neque nesciunt officiis
                        quibusdam quis quod, saepe, sequi totam, vitae.</p>

                    <p>Deleniti deserunt eum, magni minus ratione tempora tenetur. Autem cumque dolores, enim mollitia
                        odit quaerat tempore? Ipsa ipsum quod voluptatum?</p>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <div class="container">
        <form action="{{ path("zpb_sites_zoo_parrainages_add_to_basket") }}" method="post">
        <div class="spaced-row">
            <div class="col-1"></div>
            <div class="col-4">
                <div id="parrainage-chooser">

                        <div class="row">
                            <div class="col-3"> <!-- formules -->
                                {% for formula in formulas %}
                                    <div id="" class="sponsoring-tag">
                                        <label for="sponsorship_{{ formula.id }}" class="offer" id="{{ formula.slug }}"><input type="radio" name="sponsorship_form[pack]" id="sponsorship_{{ formula.id }}" value="{{ formula.id }}"/> <div class="sponsoring-price">{{ formula.price }} &euro;</div><div class="sponsoring-name"> {{ formula.name }}</div></label>
                                    </div>
                                {% endfor %}

                                <div id="main-reduc" class="reduc-impot">
                                    <p>Soit</p>
                                    <p class="reduc-impot-value"><span class="reduc-impot-value-in"></span> €</p>
                                    <p>après déduction fiscale</p>
                                </div>

                            </div>
                            <div class="col-3"> <!-- cadeaux -->
                                {% for gift in gifts %}
                                    <div class="gift" id="mark-{{ gift.id }}">
                                        <span><span class="marks"><i class="fa fa-check"></i><i class="fa fa-times"></i></span>{{ gift.name }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    <div id="second-reduc" class="row ">
                        <div class="col-6">
                            <div class="reduc-impot">
                                <p>Soit <span class="reduc-impot-value" id="reduc-impot-value"><span class="reduc-impot-value-in"></span> €</span> après déduction fiscale</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
                <input name="sponsorship_form[animal]" type="hidden" value="{{ animal.id }}"/>
                <input name="sponsorship_form[_token]" type="hidden" value="{{ csrf_token("add_sponsorship") }}"/>
            <div class="col-1"></div>
        </div>
            <div class="spaced-row">
                <div class="col-1"></div>
                <div class="col-4">
                    <div id="parrainage-actions">
                        <div class="row text-center">
                            <button type="submit" class="btn btn-primary btn-xlarge" name="sponsorship_form[submit]" value="forme">Je parraine</button><button type="submit" class="btn btn-grisfonce btn-xlarge" name="sponsorship_form[submit]" value="offer">J'offre ce parrainage</button>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </form>
    </div>


{% endblock %}
{% block footScripts %}
{{ parent() }}

    <script>
        var $offers, $radios,$gifts, giftsByOffer, $redux;
        $offers = $(".offer");
        $radios = $offers.find("input[type='radio']");
        $redux = $(".reduc-impot-value-in");
        $gifts = $(".gift");
        giftsByOffer = {
            {% for offer in formulas %}
            "{{ offer.slug }}" : {"price":"{{ offer.taxFreePrice|number_format(2,',','.') }}", "gifts" : [
                {% for g in offer.giftDefinitions %}
                "mark-{{ g.id }}"{% if loop.last != true %},{% endif %}
                {% endfor %}
            ]}{% if loop.last != true %},{% endif %}
            {% endfor %}
        };

        function markFormula($el){
            $offers.removeClass("isChecked");
            $el.addClass("isChecked");
            $radios.prop("checked", null);
            $gifts.removeClass("inPack");
            var radio = $el.find("input[type='radio']");
            radio.prop("checked", "checked");
            var marked = giftsByOffer[$el.attr("id")]["gifts"];
            if(marked.length){
                $.each(marked,function(i,e){
                    $("#"+e).addClass("inPack");
                });
            }
            $redux.text(giftsByOffer[$el.attr("id")]["price"]);
        }

        $(function(){
            markFormula($offers.first());

            $offers.on("click", function(e){
                e.preventDefault();
                var $el = $(e.currentTarget);
                markFormula($el);
            });
        });


    </script>
{% endblock %}
