{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}{{animal.name}} | Parrainez un animal{% endblock %}
{% block headStyles %}
    {{ parent() }}
    <style>
        .two-column {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            -ms-column-count: 2;
            -o-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 15px;
            -moz-column-gap: 15px;
            -ms-column-gap: 15px;
            -o-column-gap: 15px;
            column-gap: 15px;
        }
        .offers{
            padding: 15px 0;
            background-color: #d9d9d9;
        }
        .offer{
            padding: 0 16px;
            background-color: #f2f2f2;
            /*border: 1px solid #cdcdcd;*/
            height: 46px;
            line-height: 46px;
            margin-bottom: 2px;
            position: relative;
        }
        .offer:last-child{
            margin-bottom: 0;
        }
        .offer.active{
            background-color: #fff;
        }
        .offer.active:after{
            position: absolute;
            content: "";
            border-right: none;
            border-left: #fff 12px solid;
            border-top: transparent 23px solid;
            border-bottom: transparent 23px solid;
            top:0;
            left: 100%;

        }
        .offer label{
            display: block;

        }
        .gift{
            padding: 5px 16px;
            margin-bottom: 1px;
            background-color: #fff;
        }
        .gift:last-child{
            margin-bottom: 0;
        }
        .giftName{
            color: #bbb;
        }
        .isChecked{
            display: inline-block;
            padding-right: 16px;
            color: #fff;
        }
        .isChecked.inPack{
            color: #409c70;
        }
        .isChecked.inPack + .giftName{
            color: #000;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="columns large-12">
        <h1>Parrainages</h1>
    </div>
    <div class="columns large-9">
        <h2>{{ animal.longName }}</h2>

        <div class="two-column">
            <h4>Description</h4>
            {{ animal.longDescription|raw }}
            <h4>Identité</h4>
            <p><strong>Date de naissance</strong> : {{ animal.bornAt|date("d-m-y") }}, {{ animal.bornIn }}</p>
            <p><strong>Age</strong> : {{ animal.age }}</p>
            <p><strong>Sexe</strong> : {{ animal.sex }}</p>
            <h4>Histoire</h4>
            {{ animal.history|raw }}

        </div>
        <div>
            <img class="th" src="http://lorempicsum.com/simpsons/900/500/{{ random(5)+1 }}" alt="" width="100%"/>
        </div>

        <h2 id="je-parraine">Je parraine</h2>

        <div class="panel">
            <h4>Comment parrainer ?</h4>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem culpa eum eveniet ipsa
                    iusto nihil perspiciatis quas sint vero.
                </li>
                <li>Animi atque earum et eum excepturi exercitationem facilis illo ipsam maiores nobis nulla,
                    possimus quaerat repellat sequi sunt tenetur voluptas.
                </li>
                <li>Blanditiis esse id maiores nam nobis pariatur quaerat quas? Ab aspernatur consequuntur
                    cupiditate iusto minus obcaecati perspiciatis quisquam suscipit ut.
                </li>
            </ul>
        </div>

        {% if formulas|length>0 %}
            <form action="{{ path("zpb_sites_zoo_parrainages_add_to_basket") }}" method="post">
                <div class="row offers">
                    <div class="columns large-6">
                        <div id="in-offers">
                            {% for formula in formulas %}
                                <div class="row">
                                    <div class="large-12 columns">

                                        <div class="offer{% if loop.first == true %} active{% endif %}" id="{{ formula.slug }}">
                                            <input type="radio" name="sponsorship_form[pack]" id="sponsorship_{{ formula.id }}" value="{{ formula.id }}"/><label for="sponsorship_{{ formula.id }}">{{ formula.price }}€ {{ formula.name }}</label>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="columns large-6">
                        {% for gift in gifts %}
                            <div class="gift">
                                <span class="isChecked" id="mark-{{ gift.id }}"><i class="fa fa-check"></i></span><span class="giftName">{{ gift.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row offers">
                    <div class="columns large-6">
                        <div class="offer active">
                            Soit <strong><span class="redux">00.00</span></strong>€ après reduction fiscale
                        </div>

                    </div>
                    <div class="columns large-6">
                        <input name="sponsorship_form[animal]" type="hidden" value="{{ animal.id }}"/>
                        <input name="sponsorship_form[_token]" type="hidden" value="{{ csrf_token("add_sponsorship") }}"/>
                        <button type="submit" class="button success large" name="sponsorship_form[submit]" value="offer">J'offre ce parrainage</button><button type="submit" class="button success large" name="sponsorship_form[submit]" value="forme">Je parraine</button>
                    </div>
                </div>
            </form>
        {% endif %}

    </div>
    <div class="columns large-3"></div>
{% endblock %}
{% block footScripts %}
{{ parent() }}
    <script>
        var $offers, $radios,$isChecked, giftsByOffer, $redux;
        giftsByOffer = {
            {% for offer in formulas %}
            "{{ offer.slug }}" : {"price":"{{ offer.taxFreePrice|number_format(2,',','.') }}", "gifts" : [
                {% for g in offer.giftDefinitions %}
                "mark-{{ g.id }}"{% if loop.last != true %},{% endif %}
                {% endfor %}
            ]}{% if loop.last != true %},{% endif %}
            {% endfor %}
        };
        $offers = $("#in-offers .offer");
        $isChecked = $(".isChecked");
        $radios = $offers.find("input[type='radio']");
        $redux = $(".redux");
        $offers.removeClass("active");
        $radios.prop("checked", null);
        function markFormula($el){
            $offers.removeClass("active");
            $radios.prop("checked", null);
            $isChecked.removeClass("inPack");
            var radio = $el.find("input[type='radio']");
            radio.prop("checked", "checked");
            $el.addClass("active");

            var marked = giftsByOffer[$el.attr("id")]["gifts"];
            if(marked.length){
                $.each(marked,function(i,e){
                    $("#"+e).addClass("inPack");
                });
            }
            $redux.text(giftsByOffer[$el.attr("id")]["price"]);
        }
        console.log($offers);
        markFormula($offers.first());
        $(function(){
            $offers.on("click", function(e){
                e.preventDefault();
                var $el = $(e.currentTarget);
                markFormula($el);
            });
        });
    </script>
{% endblock %}
