{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Nouveautés | Actualités{% endblock %}

{% set active_page = "cat_posts" %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Nouveautés</h1>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="posts">
                    <div class="row">
                        {% for pub in pubs %}
                            <div class="post-col">
                                <div class="post">
                                    <header>
                                        <div class="post-category"><a href="{{ path("zpb_sites_zoo_actualites_list_by_category", {slug: pub.category.slug}) }}">{{ pub.category.name }}</a></div>
                                        <h1 class="post-title"><a href="{{ path("zpb_sites_zoo_actualites_single", {slug: pub.post.slug}) }}">{{ pub.post.title }}</a></h1>
                                        <div class="post-date">{{ pub.publishedAt|date("d/m/y") }}</div>
                                    </header>
                                    <article>

                                        <div class="post-thumbnail">
                                            {% if pub.post.squarreThumb != null %}
                                                <img src="{{ post_squarre_img_url(pub.post.squarreThumb) }}" alt=""/>
                                            {% else %}
                                                <img src="{{ post_squarre_img_def_url() }}" alt=""/>
                                            {% endif %}
                                        </div>

                                        <div class="post-excerpt">
                                            <p>{{ pub.post.excerpt }}</p>
                                            <div class="post-more"><a href="{{ path("zpb_sites_zoo_actualites_single", {slug: pub.post.slug}) }}">Lire plus...</a></div>
                                        </div>

                                    </article>
                                    <footer>
                                        {% if pub.tags|length > 0 %}
                                            <div class="post-tags">
                                                <ul>
                                                    {% for tag in pub.tags %}
                                                        <li><a href="{{ path("zpb_sites_zoo_actualites_list_by_tag", {slug: tag.slug}) }}">{{ tag.name }}</a>{% if loop.last != true %}, {% endif %}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </footer>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {#<div class="col-md-1">
                {{ render(controller("ZPBSitesZooBundle:Actualite:listCategories")) }}
                {{ render(controller("ZPBSitesZooBundle:Actualite:listTags")) }}
            </div>#}
        </div>
    </div>
{% endblock %}


