{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}{{ post.title }} | Actualités{% endblock %}
{% block header %}
    {{ render(controller("ZPBSitesZooBundle:Partials:smallHeader")) }}
{% endblock %}

{% block content %}
    <div class="columns large-12">
        <h1>Actualités</h1>

        <div class="row">
            <div class="columns large-9">

                    <div class="post">
                        <h4>{{ post.title }}</h4>
                        <p><small>publié le: {{ post.publishedAt|date("d/m/y") }} à {{ post.publishedAt|date("H:i:s") }} dans {{ post.category }}</small></p>
                        <div class="post-body">
                            {{ post.body|raw }}
                        </div>


                    </div>

            </div>
        </div>

    </div>
{% endblock %}
