{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}{{ pub.post.title }} | Actualités{% endblock %}

{% block description %}{{ pub.post.excerpt }}{% endblock %}
{% block keywords %}{% for tag in pub.tags %}{{ tag.name }}{% if loop.last != true %}, {% endif %}{% endfor %}{% endblock %}

{% set active_page = "single_post" %}
{% set host = app.request.scheme~"://"~app.request.host %}

{% set imageUrl = (post_fb_img_url(pub.post.fbThumb) != null) ? host~post_fb_img_url(pub.post.fbThumb) : host~post_fb_img_def_url() %}
{% block meta_fb%}
    {{ include("ZPBSitesZooBundle:incs/facebook:metas.html.twig", {title: pub.post.title, type: "article", description: pub.post.excerpt, imageUrl: imageUrl}) }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Actualité</h1>
                </div>
            </div>
        </div>

        {#<div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-sm-2 col-md-2 text-left"><a class="btn btn-primary btn-small" href="">&laquo; <span class="hide-only-sm">précédent</span></a></div>
                    <div class="col-sm-2 col-md-2 text-center"><a class="btn btn-primary btn-small" href="{{ path("zpb_sites_zoo_actualites_homepage") }}">retour</a></div>
                    <div class="col-sm-2 col-md-2 text-right"><a class="btn btn-primary btn-small" href=""><span class="hide-only-sm">suivant</span> &raquo;</a></div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>#}
        <div class="spaced-row">
            <div class="col-md-6">
                <a href="http://www.facebook.com/share.php?u={{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" target="_blank" class="btn btn-primary btn-xlarge"><i class="fa fa-facebook"></i> Share</a>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="single-post">

                        <div class="post-thumbnail">
                            {% if pub.post.bandeau != null %}
                            <img src="{{ post_bandeau_img_url(pub.post.bandeau) }}" alt=""/>
                            {% else %}
                            <img src="{{ post_bandeau_img_def_url() }}" alt=""/>
                            {% endif %}
                        </div>


                    <div class="post-category">{{ pub.category.name }}</div>
                    <h3 class="post-title">{{ pub.post.title }}</h3>

                    <p class="post-date"><small>Publié le : {{ pub.publishedAt|date("d/m/y") }} à {{ pub.publishedAt|date("H:i:s") }}</small></p>
                    <div class="post-body">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-4">
                                {{ pub.post.body|raw }}
                                {{ pub.post.body|raw }}
                                {{ pub.post.body|raw }}
                                {{ pub.post.body|raw }}
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                    </div>
                    {% if pub.tags|length > 0 %}
                        <div class="post-tags">
                            <ul>
                                {% for tag in pub.tags %}
                                    <li><a href="{{ path("zpb_sites_zoo_actualites_list_by_tag", {slug: tag.slug}) }}">{{ tag.name }}</a>{% if loop.last != true %}, {% endif %}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            {#<div class="col-md-1">
                {{ render(controller("ZPBSitesZooBundle:Actualite:listCategories")) }}
                {{ render(controller("ZPBSitesZooBundle:Actualite:listTags")) }}
            </div>#}
        </div>

    </div>


{% endblock %}
