{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{#{% block title %}{{ post.title }} | Actualités{% endblock %}#}
{% set prepend_title =  post.title %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Actualité</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 col-2">
                <div class="row">
                    <div class="col-2"><a>&laquo; précédente</a></div>
                    <div class="col-2"><a href="{{ path("zpb_sites_zoo_actualites_homepage") }}">retour</a></div>
                    <div class="col-2"><a>suivante &raquo;</a></div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-4">
                <div class="post">

                    <h4>{{ post.title }}</h4>
                    <div class="post-thumbnail">
                        <div class="testbox testbox-4">4 columns * 200px</div>
                    </div>
                    <p><small>publié le: {{ post.publishedAt|date("d/m/y") }} à {{ post.publishedAt|date("H:i:s") }} dans {{ post.category }}</small></p>
                    <div class="post-body">
                        {{ post.body|raw }}
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
