<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if block('title') %}{{ block('title')}}{% else %}Bienvenue{% endif %} | ZooParc de Beauval</title>
    {% if block('description') %}
        <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block meta_fb %}{% endblock %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/zoo/mobile/master.css"/>
    {% endblock %}

    {% block headScripts %}{% endblock %}
</head>
<body>
{% block main %}
    <div id="wrapper">
        <div class="site-pusher" id="site-pusher">
        {{ render(controller("ZPBSitesZooMobileBundle:Nav:topbar")) }}

            <div id="main-menu">
                <ul>
                    <li class="dropdown"><a href="javascript:void(0)">Pratique</a>
                        <ul class="hide">
                            <li><a href="{{ path("zpb_sites_zoo_mobile_acces") }}">Accès</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_mobile_horaires_tarifs") }}">Horaires et tarifs</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_mobile_animations_spectacles") }}">Animations et spectacles</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_mobile_restauration") }}">Restauration</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_mobile_services") }}">Services</a></li>
                            <li><a href="{{ path("zpb_sites_zoo_mobile_faq") }}">FAQ</a></li>
                        </ul>
                    </li>
                    <li><a href="#">ZooParc</a></li>
                    <li><a href="#">Nouveautés</a></li>
                    <li><a href="#">Actualité</a></li>
                    <li><a href="#">Pédagogie</a></li>
                    <li class="dropdown"><a href="#">Dormir à Beauval</a>
                        <ul class="hide">
                            <li><a href="#">Les Jardins de Beauval</a></li>
                            <li><a href="#">Les Hameaux de Beauval</a></li>
                            <li><a href="http://lespagodesdebeauval.com">Les Pagodes de Beauval</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="app" id="app">
                <div id="header">
                    {% block header%}{% endblock %}
                </div>

                <div class="main-content">
                    {% block content %}{% endblock %}
                </div>
            {% endblock %}
            </div>
            {{ render(controller("ZPBSitesZooMobileBundle:Partials:footer")) }}

        </div>
    </div>
{% block footScripts %}
    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
    <script>
        $(function(){
            $("#toggle-menu").on("click", function(e){
                e.preventDefault();
                $("body").toggleClass("with-sidebar");
            });
            var dropdowns = $(".dropdown>a");
            var uls = dropdowns.next("ul");
            dropdowns.on("click", function(e){
                e.preventDefault();
                if($(this).hasClass("open")){
                    $(this).removeClass("open");
                    $(this).next("ul").slideUp(150);
                } else {
                    dropdowns.removeClass("open");
                    uls.slideUp(150);
                    $(this).addClass("open");
                    $(this).next("ul").slideDown(150);
                }
            });
        })
    </script>
{% endblock %}
</body>
</html>
