<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% if block('title') %}{{ block('title')}}{% else %}Bienvenue{% endif %} | ZooParc de Beauval</title>
    {% if block('description') %}
        <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block meta_fb %}{% endblock %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/zoo/mobile/master.css"/>
    {% endblock %}

    {% block headScripts %}{% endblock %}
</head>
<body>
{% block main %}
    {% block header%}{% endblock %}
    <div class="main-content">
        {{ render(controller("ZPBSitesZooMobileBundle:Nav:topbar")) }}

        {% block content %}{% endblock %}
    </div>
{% endblock %}
{{ render(controller("ZPBSitesZooMobileBundle:Partials:footer")) }}
{% block footScripts %}
    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
{% endblock %}
</body>
</html>
