{% set indiv_pages = ["billeterie","sejours","cadeaux"] %}
{% set groupes_pages = ["visite_libre", "visite_guidee","resto","sejours"] %}
{% set practicle_pages = ["acces","trucs","fiches"] %}
{% set tools_pages = ["tools", "galerie_photo"] %}




<div id="stickytop">
    <div class="container">
        <div id="main-menu">
            <a href="{{path("zpb_sites_pro_homepage")}}" class="logo">{{ include("ZPBSitesProBundle:incs:logo_pro_svg.html.twig") }}</a>
            <button id="menu-toggler"></button>
            <nav>
                <ul>
                    <li class="dropdown{% if active_page in indiv_pages %} active{% endif %}"><a href="">Individuels</a>
                        {{ include("ZPBSitesProBundle:Navs:individuel.html.twig") }}
                    </li>
                    <li class="dropdown{% if active_page in groupes_pages %} active{% endif %}"><a href="javascript:void(0)">Groupes</a>
                        {{ include("ZPBSitesProBundle:Navs:groupes.html.twig") }}
                    </li>

                    <li class="dropdown{% if active_page in practicle_pages %} active{% endif %}"><a href="javascript:void(0)">Pratique</a>
                        {{ include("ZPBSitesProBundle:Navs:pratique.html.twig") }}
                    </li>
                    <li class="dropdown{% if active_page in tools_pages %} active{% endif %}"><a href="javascript:void(0)">Médiathèque</a>
                        {{ include("ZPBSitesProBundle:Navs:mediatheque.html.twig") }}
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>
