{% set children_pages = ["individuels"] %}
{% set handi_pages = ["groupes"] %}
{% set school_pages = ["groupes"] %}
{% set practicle_pages = ["pratique"] %}
{% set tools_pages = ["tools"] %}

{% set active_page = "none" %}


<div id="stickytop">
    <div class="container">
        <div id="main-menu">
            <a href="{{path("zpb_sites_scolar_homepage")}}" class="logo">{{ include("ZPBSitesScolarBundle:incs:logo_scolar_svg.html.twig") }}</a>
            <button id="menu-toggler"></button>
            <nav>

                <ul>
                    <li class="dropdown{% if active_page in children_pages %} active{% endif %}"><a href="">Groupes Enfants</a>
                        <ul>
                            <li><a href="">Visite du parc</a></li>
                            <li><a href="">Offre pédagogique</a></li>
                            <li><a href="{{ path("zpb_sites_scolar_resto") }}">Restauration</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in handi_pages %} active{% endif %}"><a href="javascript:void(0)">Groupes Enfants Handicapés</a>
                        <ul>
                            <li><a href="">Visite du parc</a></li>
                            <li><a href="">Offre pédagogique</a></li>
                            <li><a href="{{ path("zpb_sites_scolar_resto") }}">Restauration</a></li>

                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in school_pages %} active{% endif %}"><a href="">Scolaires</a>
                        <ul>
                            <li><a href="{{ path("zpb_sites_scolar_scolar_jd") }}">Journées découverte</a></li>
                            <li><a href="{{ path("zpb_sites_scolar_scolar_cycle_1") }}">Cycle 1</a></li>
                            <li><a href="{{ path("zpb_sites_scolar_scolar_cycle_2") }}">Cycle 2</a></li>
                            <li><a href="{{ path("zpb_sites_scolar_scolar_cycle_3") }}">Cycle 3</a></li>
                            <li><a href="{{ path("zpb_sites_scolar_scolar_colleges") }}">Collèges et lycées</a></li>
                            <li><a href="{{ path("zpb_sites_scolar_resto") }}">Restauration</a></li>
                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in practicle_pages %} active{% endif %}"><a href="javascript:void(0)">Pratique</a>
                        <ul>
                            <li><a href="">Accès</a></li>
                            <li><a href="">Avantagess groupes</a></li>

                        </ul>
                    </li>
                    <li class="dropdown{% if active_page in tools_pages %} active{% endif %}"><a href="javascript:void(0)">Outils de Com'</a>
                        <ul>
                            <li><a href="">Outils téléchargeables</a></li>
                            <li><a href="">Bons de commandes</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</div>
