<ul>
    <li><a href="{{ path("zpb_sites_scolar_scolar_jd") }}">Journées découverte</a></li>
    <li><a href="{{ path("zpb_sites_scolar_scolar_cycle_1") }}">Cycle 1</a></li>
    <li><a href="{{ path("zpb_sites_scolar_scolar_cycle_2") }}">Cycle 2</a></li>
    <li><a href="{{ path("zpb_sites_scolar_scolar_cycle_3") }}">Cycle 3</a></li>
    <li><a href="{{ path("zpb_sites_scolar_scolar_colleges") }}">Secondaire</a></li>
    <li><a href="{{ path("zpb_sites_scolar_resto") }}">Restauration</a></li>
</ul>
