{% set children_pages = ["individuels"] %}
{% set handi_pages = ["groupes"] %}
{% set school_pages = ["groupes"] %}
{% set practicle_pages = ["pratique"] %}
{% set tools_pages = ["tools"] %}

{% set active_page = "none" %}

<div id="seconday-mainbar-wrapper">
    <div class="container">
        <div class="row">
            <nav id="secondary-mainbar">
                <div class="col-md-3">
                    <div class="menu-block {% if active_page in children_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Groupes Enfants</a>
                        {{ include("ZPBSitesScolarBundle:Navs:enfants.html.twig") }}
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="menu-block{% if active_page in handi_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Situation de handicap</a>
                        {{ include("ZPBSitesScolarBundle:Navs:handicap.html.twig") }}
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="menu-block{% if active_page in school_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Scolaires</a>
                        {{ include("ZPBSitesScolarBundle:Navs:scolaires.html.twig") }}
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="menu-block{% if active_page in practicle_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Pratique</a>
                        {{ include("ZPBSitesScolarBundle:Navs:pratique.html.twig") }}
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="menu-block{% if active_page in tools_pages %} active{% endif %}">
                        <a href="javascript:void(0)" class="menu-block-header">Médiathèque</a>
                        {{ include("ZPBSitesScolarBundle:Navs:mediatheque.html.twig") }}
                    </div>


                </div>


            </nav>
        </div>
    </div>
</div>
