{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Photothèque{% endblock %}
{% set active = "list_photos" %}

{% block content %}
    <div class="row">
        <div class="column-12">
            <div class="jsDialog"></div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">
                    Liste des photos de la categorie {{ category.name }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">


        <div class="column-12">
            <div class="tile">
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th colspan="2">Position</th>
                        <th>Vignette</th>
                        <th>Fichier</th>
                        <th>Largeur x Hauteur</th>
                        <th>Institution</th>
                        <th>Catégorie</th>
                        <th>Nbre de téléchargements</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody id="table-sortable">
                    {% for photo in photos %}
                        <tr id="{{ photo.id }}">
                            <td class="handle"><i class="fa fa-arrows-v"></i>
                            </td>
                            <td class="position-sortable">{{ photo.position }}</td>
                            <td>
                                <a class="btn btn-neutral" href="{{ path("zpb_admin_photos_position_up", {id: photo.id}) }}"><i class="fa fa-caret-up"></i></a>
                                <a class="btn btn-neutral" href="{{ path("zpb_admin_photos_position_down", {id: photo.id}) }}"><i class="fa fa-caret-down"></i></a>
                            </td>
                            <td><a href="#"><img src="{{ photo_factory.getWebThumb("small", photo) }}" alt="" title="{{ photo.title ~ photo.copyright }}" width="50"/></a></td>
                            <td>{{ photo.filename }}</td>
                            <td>{{ photo.width }} x {{ photo.height }}</td>
                            <td>{{ photo.category.institution }}</td>
                            <td>{{ photo.category.name }}</td>
                            <td>{{ stats[photo.id] }}</td>
                            <td><a class="btn btn-neutral" href="{{ path("zpb_admin_photos_update", {id: photo.id}) }}"><i class="fa fa-edit"></i></a></td>
                            <td><a class="btn btn-neutral delete-alert" href="{{ path("zpb_admin_photos_delete", {id: photo.id, _token: csrf_token('delete_photo')}) }}" data-name="{{ photo.filename }}"><i class="fa fa-trash-o"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block headStyles %}
    <style>
        .droprow{
            height: 75px;
            background-color: #eee;
            border: 1px solid #bbb;
        }
        td.handle{
            cursor: move;
        }
    </style>
{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script src="/js/vendor/ui/jquery-ui.min.js"></script>
    <script>
        $(function(){
            var dialogsPlaceholder = $(".jsDialog");
            var dialogs = $("<div class='dialogs'></div>");
            dialogs.appendTo(dialogsPlaceholder);

            function getSuccess(){
                return $("<div class='dialog dialog-success'><div class='message'></div></div>");
            }
            function getError(){
                return $("<div class='dialog dialog-error'><div class='message'></div></div>");
            }
            var sortable = $("#table-sortable");
            sortable.sortable({
                handle: ".handle",
                cursor: "move",
                placeholder: "droprow",
                update: function(evt, ui){
                    var it = ui.item;
                    var list = ui.item.parent("tbody");
                    var pos = 0;
                    list.find("tr").each(function(){
                        $(this).find(".position-sortable").text(pos);
                        pos++;
                    });
                    var id = parseInt(it.attr("id"));
                    var position = parseInt(it.find(".position-sortable").text());
                    sortable.sortable("disable");

                    $.post("{{ path("zpb_admin_photos_position_xhr_change") }}", {id:id, position: position})
                            .done(function(response){

                                var message = "";
                                if(response.error == "ok"){
                                    sortable.sortable("enable");
                                    message = "Position mise à jour avec image " + response.id + " ancienne position " + response.oldPosition + ", nouvelle position " + response.newPosition;
                                    var dialogSuccess = getSuccess();
                                    dialogSuccess.find(".message").text(message);
                                    dialogSuccess.appendTo(dialogs);
                                    dialogs.appendTo(dialogsPlaceholder);
                                    dialogSuccess.fadeOut(5000, function(){
                                        dialogs.empty();
                                    });
                                } else {
                                    message = "Une erreur est survenue ! " + response.error;
                                    var dialogError = getError();
                                    dialogError.find(".message").text(message);
                                    dialogError.appendTo(dialogs);
                                    dialogError.fadeOut(5000, function(){
                                        dialogs.empty();
                                    });
                                }
                            })
                            .fail(function(){
                                var dialogError = getError();
                                dialogError.find(".message").text("Une erreur est survenue ! ");
                                dialogError.appendTo(dialogs);
                                dialogError.fadeOut(5000, function(){
                                    dialogs.empty();
                                });
                            });
                }
            });
        });
    </script>
{% endblock %}
