{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}FAQ{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block headScripts %}
    <script src="/js/vendor/require.js" data-main="/js/sites/zoo/faq/index.js"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="page-header"><h1>Questions fréquentes</h1></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro">
                    <p>Vous trouverez ici les réponses aux questions le plus fréquemment posées aux équipes de Beauval.</p>
                    <p>Pour tout renseignement complémentaire, rendez-vous sur la page <a href="{{ path("zpb_sites_zoo_contact") }}">contact</a></p>
                </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                {% for faq in faqs %}
                    <div class="faq">
                        <div class="faq-question">
                            {{ faq.question }}
                        </div>
                        <div class="faq-response is-hide">
                            {{ faq.response }}
                        </div>

                    </div>
                {% endfor %}
                {% if cfaqs|length > 0 %}

                    {% for cfaq in cfaqs %}
                        <div class="faq">
                            <div class="faq-question">
                                {{ cfaq.question }}
                            </div>
                            <div class="faq-response is-hide">
                                {{ cfaq.response }}
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}

