{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}FAQ{% endblock %}

{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="page-header"><h1>Questions fréquentes</h1></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A at corporis debitis deleniti enim eum ex
                    expedita id iusto nisi odit, perspiciatis quaerat, quam quod sapiente unde veniam, voluptates.
                    Cupiditate iusto sed sint veniam! Aut necessitatibus obcaecati quaerat quas. Aliquam, animi
                    assumenda culpa cum deleniti in, libero magnam minus nisi, nobis quam reiciendis sequi tempore ut
                    vel veniam voluptatum. Aliquam architecto autem cupiditate exercitationem harum itaque maiores, nam
                    nesciunt quaerat quam quas repellendus sint suscipit tempora veritatis voluptatem voluptatibus?
                    Accusantium dolor dolores esse fugiat illo numquam, repudiandae sed ullam? Architecto aut distinctio
                    ea laboriosam laborum nihil non, porro provident quia.</p>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6">
                {% for faq in faqs %}
                    <div class="faq">
                        <div class="faq-question">
                            {{ faq.question }}
                        </div>
                        <div class="faq-response is-hide">
                            {{ faq.response }}
                        </div>

                    </div>
                {% endfor %}
                {% if cfaqs|length > 0 %}

                    {% for cfaq in cfaqs %}
                        <div class="faq">
                            <div class="faq-question">
                                {{ cfaq.question }}
                            </div>
                            <div class="faq-response is-hide">
                                {{ cfaq.response }}
                            </div>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script>
        $(function(){
            $(".faq-question").on("click", function(e){
                e.preventDefault();
                var response = $(this).next(".faq-response");

                if(response.hasClass("is-hide")){
                    $(this).addClass("is-active");
                    response.slideDown(200, function(){
                        response.removeClass("is-hide").addClass("is-shown");
                    });
                } else {
                    $(this).removeClass("is-active");
                    response.slideUp(200, function(){
                        response.removeClass("is-shown").addClass("is-hide");
                    });
                }
            })
        });
    </script>
{% endblock %}
