{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}FAQ{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-6">
            <h1>Questions fréquentes</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <ul>
                {% for faq in faqs %}
                    <li>{{ faq.question }}</li>
                {% endfor %}
                {% if cfaqs|length > 0 %}

                    {% for cfaq in cfaqs %}
                        <li>{{ cfaq.question }}</li>
                    {% endfor %}

                {% endif %}
            </ul>

        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-4">
            {% for faq in faqs %}
                <div class="faq">
                    <h4>{{ faq.question }}</h4>
                    <p>{{ faq.response }}</p>
                </div>
            {% endfor %}
            {% if cfaqs|length > 0 %}

                {% for cfaq in cfaqs %}
                    <div class="faq">
                        <h4>{{ cfaq.question }}</h4>
                        <p>{{ cfaq.response }}</p>
                    </div>
                {% endfor %}

            {% endif %}
        </div>
        <div class="col-4"></div>
    </div>

{% endblock %}
