{% set active_page = (active_page is defined) ? active_page : "" %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if block('title') %}{{ block('title')}}{% else %}Bienvenue{% endif %} | beauvalnature.com</title>
    {% if block('description') %}
        <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/beauvalnature/master.css"/>
    {% endblock %}

    {% block headScripts %}
        <script src="/js/vendor/require.js" data-main="/js/sites/bn/main"></script>
    {% endblock %}

    {% block headStyles %}

    {% endblock %}
</head>
<body>
{% block topnav %}
    {{ render(controller("ZPBSitesCommonBundle:Navs:topnav", {url: path("zpb_sites_bn_english_index")})) }}
{% endblock %}

{% block main %}
    {% block header %}
        <div id="site-header">
            {% block mainbar %}
                {{ render(controller("ZPBSitesBNBundle:Navs:mainbar", {active_page: active_page})) }}
            {% endblock %}
            {{ header_carousel("ZPBSitesCommonBundle:incs:header_carousel.html.twig") }}
            <div class="tickets tickets-left">
                <a href="">
                    <div class="inner">
                        Faites<br> un don
                        {{ include("ZPBSitesZooBundle:incs:billet_svg.html.twig") }}
                    </div>
                </a>
            </div>

            <div class="tickets tickets-right">
                <a href="{{ path("zpb_sites_zoo_parrainages_homepage") }}">
                    <div class="inner">
                        Parrainez<br>un animal
                        {{ include("ZPBSitesZooBundle:incs:parrainer_svg.html.twig") }}
                    </div>
                </a>
            </div>
        </div>
    {% endblock %}
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>


{% endblock %}

{% block secondary_mainbar %}
    {{ render(controller("ZPBSitesBNBundle:Navs:secondaryMainbar", {active_page: active_page})) }}
{% endblock %}

{% block footer%}
    {{ render(controller("ZPBSitesBNBundle:Partials:footer")) }}
{% endblock %}



</body>
</html>
