{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Nouvelle Catégories de photo | Photothèque{% endblock %}
{% set active = "new_photo_cats" %}

{% block content %}
    <div class="row">
        <div class="column-3"></div>
        <div class="column-6">
            <div class="tile">
                <div class="tile-header">
                    Nouvelle catégorie de photo
                </div>
                {{ form_start(form, {attr: {class: "form", novalidate:true }})}}
                {{ form_errors(form) }}
                <div class="form-row {% if form.institution.vars.errors|length>0 %}has-error{% endif %}">
                    {{ form_label(form.institution) }}
                    <div class="form-field">
                        {{ form_widget(form.institution)}}
                        {% if form.institution.vars.errors|length>0 %}
                            <div class="errors-block">
                                {{ form_errors(form.institution)}}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row {% if form.name.vars.errors|length>0 %}has-error{% endif %}">
                    {{ form_label(form.name) }}
                    <div class="form-field">
                        {{ form_widget(form.name)}}
                        {% if form.name.vars.errors|length>0 %}
                            <div class="errors-block">
                                {{ form_errors(form.name)}}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row {% if form.description.vars.errors|length>0 %}has-error{% endif %}">
                    {{ form_label(form.description) }}
                    <div class="form-field">
                        {{ form_widget(form.description)}}
                        {% if form.description.vars.errors|length>0 %}
                            <div class="errors-block">
                                {{ form_errors(form.description)}}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_widget(form.save, {attr: {class: "btn btn-primary"}})}}
                </div>

                {{ form_end(form)}}
            </div>
            {{form(form)}}
        </div>
        <div class="column-3"></div>
    </div>

{% endblock %}
