{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% block title %}Contactez-nous{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "contact" %}
{% block headScripts %}
    <script src="/js/vendor/require.js" data-main="/js/sites/zoo/contact/index.js"></script>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="page-header">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-md-2"></div>
            <div class="col-sm-8 col-md-8">
                <div class="page-intro" style="font-size: 20px;">
                    <p style="margin-bottom: 16px;">Les équipes du ZooParc de Beauval se tiennent à disposition <br/> pour répondre à toutes vos questions.</p>
                    <p>ZooParc de Beauval</p> <!-- address -->
                    <p>41110 Saint Aignan sur Cher</p>
                    <p>Tél : 02 54 75 5000 </p>
                </div>
            </div>
            <div class="col-sm-2 col-md-2"></div>
        </div>
    </div>

    <div class="container">



        <div class="spaced-row">
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/tests/contact/contact07.jpg" alt="" width="100%"/>
                    <h4 class="text-center">Accueil</h4>
                    <address>
                        <p class="contact-card-tel">Tél : 02 54 75 5000</p>
                    </address>
                    <p class="text-center"><button class="btn btn-primary contact" data-id="accueil">Contacter</button></p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/tests/contact/contact02.jpg" alt="" width="100%"/>
                    <h4 class="text-center">Boutique</h4>
                    <address>
                        <p class="contact-card-tel">Tél : 02 54 75 62 12</p>
                    </address>
                    <p class="text-center"><button class="btn btn-primary contact" data-id="boutique">Contacter</button></p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/tests/contact/contact08.jpg" alt="" width="100%"/>
                    <h4 class="text-center">Ressources Humaines</h4>
                    <address>
                        <p class="contact-card-name">Sophie <span>Delord</span></p>
                        <p class="contact-card-cap">Directrice des Ressources Humaines</p>
                        <p class="contact-card-tel">Tél : 02 54 75 62 14</p>
                    </address>
                    <p class="text-center"><button class="btn btn-primary contact" data-id="rh">Contacter</button></p>
                </div>
            </div>

        </div>


        <div class="spaced-row">
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/tests/contact/contact06.jpg" alt="" width="100%"/>
                    <h4 class="text-center">Service Commercial</h4>
                    <address>
                        <p class="contact-card-name">Stephanie <span>Neuer</span></p>
                        <p class="contact-card-cap">Directrice commerciale</p>
                        <p class="contact-card-tel">Tél : 02 54 75 74 26</p>
                        <p>Fax : 02 54 75 74 30</p>
                    </address>
                    <p class="text-center"><button class="btn btn-primary contact" data-id="commerciaux">Contacter</button></p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/tests/contact/contact03.jpg" alt="" width="100%"/>
                    <h4 class="text-center">Achats</h4>
                    <address>
                        <p class="contact-card-name">Samuel <span>Leroux</span></p>
                        <p class="contact-card-cap">Responsable des achats</p>
                        <p class="contact-card-tel">Tél/Fax : 02 54 71 25 19</p>
                        <p class="contact-card-tel">Mobile : 06 76 11 91 04</p>
                    </address>
                    <p class="text-center"><button class="btn btn-primary contact" data-id="achats">Contacter</button></p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/tests/contact/contact09.jpg" alt="" width="100%"/>
                    <h4 class="text-center">Science et conservation</h4>
                    <address>
                        <p class="contact-card-name">Eric <span>Bairrão Ruivo</span></p>
                        <p class="contact-card-cap">Directeur scientifique</p>
                        <p class="contact-card-tel">Tél : 02 54 75 74 35</p>
                    </address>
                    <p class="text-center"><button class="btn btn-primary contact" data-id="science">Contacter</button></p>
                </div>
            </div>
        </div>

        <div class="spaced-row">
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/tests/contact/contact01.jpg" alt="" width="100%"/>
                    <h4 class="text-center">Pédagogie</h4>
                    <address>
                        <p class="contact-card-name">Véronique <span>Baudouin</span> </p>
                        <p class="contact-card-cap">Responsable pédagogique</p>
                        <p class="contact-card-tel">Tél : 02 54 75 74 25</p>
                    </address>
                    <p class="text-center"><button class="btn btn-primary contact" data-id="pedagogie">Contacter</button></p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/tests/contact/contact04.jpg" alt="" width="100%"/>
                    <h4 class="text-center">Communication</h4>
                    <address>
                        <p class="contact-card-name">Delphine <span>Delord</span></p>
                        <p class="contact-card-cap">Directrice de la Communication</p>
                        <p class="contact-card-tel">Tél : 02 54 75 74 37</p>
                    </address>
                    <p class="text-center"><button class="btn btn-primary contact" data-id="communication">Contacter</button></p>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="contact-card">
                    <img src="/tests/contact/contact05.jpg" alt="" width="100%"/>
                    <h4 class="text-center">Presse</h4>
                    <address>
                        <p class="contact-card-name">Priscille <span>Lacoste</span></p>
                        <p class="contact-card-cap">Attachée de presse</p>
                        <p class="contact-card-tel">Tél : 01 48 01 00 34</p>
                        <p class="contact-card-tel">Mobile : 06 62 25 51 60</p>
                    </address>
                    <p class="text-center"><button class="btn btn-primary contact" data-id="presse">Contacter</button></p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal">
        <a class="modal-close-btn" href="">&times;</a>
        <div class="row">

            <div class="col-sm-12 col-md-12">
                {{ form_start(form, {attr:{novalidate: true, class:"form"}}) }}
                {{ form_errors(form) }}
                <div class="form-row">
                    {{ form_label(form.interlocutor) }}
                    <div class="form-field">
                        {{ form_widget(form.interlocutor) }}
                        <div class="error-block">
                            {{ form_errors(form.interlocutor) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.email) }}
                    <div class="form-field">
                        {{ form_widget(form.email) }}
                        <div class="error-block">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.topic) }}
                    <div class="form-field">
                        {{ form_widget(form.topic) }}
                        <div class="error-block">
                            {{ form_errors(form.topic) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.message) }}
                    <div class="form-field">
                        {{ form_widget(form.message) }}
                        <div class="error-block">
                            {{ form_errors(form.message) }}
                        </div>
                    </div>
                </div>
                <div class="form-row hide">
                    {{ form_label(form.name) }}
                    <div class="form-field">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_widget(form.save, {attr:{class:"btn btn-primary"}}) }}
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}
