{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% block title %}Contactez-nous{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "contact" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4">



                {{ form_start(form, {attr:{novalidate: true, class:"form"}}) }}

                {{ form_errors(form) }}
                <div class="form-row">

                    {{ form_label(form.topic) }}
                    <div class="form-field">
                        {{ form_widget(form.topic) }}
                        {{ form_errors(form.topic) }}
                    </div>

                </div>
                <div class="form-row">
                    {{ form_label(form.email) }}
                    <div class="form-field">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>

                </div>
                <div class="form-row">
                    {{ form_label(form.message) }}
                    <div class="form-field">
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </div>

                </div>
                <div class="form-row">
                    {{ form_label(form.name) }}
                    <div class="form-field">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>


                </div>
                <div class="form-row">
                    {{ form_widget(form.save, {attr:{class:"btn btn-grisfonce"}}) }}
                </div>
                
                {{ form_end(form) }}

            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}
