{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}

{% block title %}Contactez-nous{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}

{% set active_page = "contact" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="page-header">
                    <h1>Contact</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <style type="text/css">
            address p{
                text-align: center;
            }
        </style>

        <div class="spaced-row">
            <div class="col-md-6">
                <h4>Renseignements</h4>
            </div>
        </div>

        <div class="spaced-row">
            <div class="col-md-2">
                <img src="/tests/contact/contact_8.jpg" alt="" width="100%"/>
                <h4 class="text-center">Ressources Humaines</h4>
                <address>
                    <p><strong>Sophie</strong> <span class="bold">Delord</span></p>
                    <p><strong>Directrice des Ressources Humaines</strong></p>
                    <p>Tél : 02 54 75 62 14</p>
                    <p><button class="btn btn-primary contact" data-id="rh">Contacter</button></p>


                </address>
            </div>
            <div class="col-md-2">
                <img src="/tests/contact/contact_3.JPG" alt="" width="100%"/>
                <h4 class="text-center">Achats</h4>
                <address>
                    <p><strong>Samuel</strong> <span class="bold">Leroux</span></p>
                    <p><strong>Responsable des achats</strong></p>
                    <p>Tél/Fax : 02 54 71 25 19</p>
                    <p>Mobile : 06 76 11 91 04</p>
                    <p><button class="btn btn-primary contact" data-id="achats">Contacter</button></p>


                </address>
            </div>
            <div class="col-md-2">
                <img src="/tests/contact/contact_6.jpg" alt="" width="100%"/>
                <h4 class="text-center">Service Commercial</h4>
                <address>
                    <p><strong>Stephanie</strong> <span class="bold">Neuer</span></p>
                    <p><strong>Directrice commerciale</strong></p>
                    <p>Tél : 02 54 75 74 26</p>
                    <p>Fax : 02 54 75 74 30</p>
                    <p><button class="btn btn-primary contact" data-id="commerciaux">Contacter</button></p>


                </address>
            </div>
        </div>

        <div class="spaced-row">
            <div class="col-md-2">
                <img src="/tests/contact/contact_1.JPG" alt="" width="100%"/>
                <h4 class="text-center">Pédagogie</h4>
                <address>
                    <p><strong>Véronique</strong> <span class="bold">Baudouin</span> </p>
                    <p>Tél : 02 54 75 74 25</p>
                    <p><button class="btn btn-primary contact" data-id="pedagogie">Contacter</button></p>


                </address>
            </div>
            <div class="col-md-2">
                <img src="/tests/contact/contact_4.jpg" alt="" width="100%"/>
                <h4 class="text-center">Communication</h4>
                <address>
                    <p><strong>Delphine</strong> <span class="bold">Delord</span></p>
                    <p><strong>Directrice de la Communication</strong></p>
                    <p>Tél : 01 40 56 01 53</p>
                    <p><button class="btn btn-primary contact" data-id="communication">Contacter</button></p>


                </address>
            </div>
            <div class="col-md-2">
                <img src="/tests/contact/contact_5.JPG" alt="" width="100%"/>
                <h4 class="text-center">Presse</h4>
                <address>
                    <p><strong>Priscille</strong> <span class="bold">Lacoste</span></p>
                    <p><strong>Attachée de presse</strong></p>
                    <p>Tél : 01 48 01 00 34</p>
                    <p>Mobile : 06 62 25 51 60</p>
                    <p><button class="btn btn-primary contact" data-id="presse">Contacter</button></p>


                </address>
            </div>
        </div>
    </div>

    <div class="modal">
        <a class="modal-close-btn" href="">&times;</a>
        <div class="row">

            <div class="col-md-6">
                {{ form_start(form, {attr:{novalidate: true, class:"form"}}) }}
                {{ form_errors(form) }}
                <div class="form-row">
                    {{ form_label(form.interlocutor) }}
                    <div class="form-field">
                        {{ form_widget(form.interlocutor) }}
                        <div class="error-block">
                            {{ form_errors(form.interlocutor) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.email) }}
                    <div class="form-field">
                        {{ form_widget(form.email) }}
                        <div class="error-block">
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.topic) }}
                    <div class="form-field">
                        {{ form_widget(form.topic) }}
                        <div class="error-block">
                            {{ form_errors(form.topic) }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.message) }}
                    <div class="form-field">
                        {{ form_widget(form.message) }}
                        <div class="error-block">
                            {{ form_errors(form.message) }}
                        </div>
                    </div>
                </div>
                <div class="form-row hide">
                    {{ form_label(form.name) }}
                    <div class="form-field">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_widget(form.save, {attr:{class:"btn btn-primary"}}) }}
                </div>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}
{% block footScripts %}
    {{ parent() }}
    <script src="/js/modal.js"></script>
    <script>
        $(function(){
            function selectInterloc(value){
                var options = $("#info_zoo_contact_form_interlocutor").find("option");
                options.attr("selected", false);
                options.each(function(){
                    if($(this).val() === value){
                        $(this).attr("selected", true);
                    }
                });
            }
            var $modal = $(".modal");
            $modal.zpbModal();
            var modal = $modal.data("zpbModal");
            $(".contact").on("click", function(e){
                e.preventDefault();
                selectInterloc($(this).data("id"));
                modal.open();
            })
        })
    </script>

{% endblock %}
