<aside class="sidebar">
    <div class="nano">
        <div class="nano-content">
            <nav class="menus">
                <div id="menus-tools" class="menus-tools">
                    <a id="menus-tools-fold" href="" class="menus-tools-folder"><i class="fa fa-plus-square"></i></a>
                    <a id="menus-tools-unfold" href="" class="menus-tools-folder"><i class="fa fa-minus-square"></i></a>
                </div>
                <nav class="menu">
                    <h3 class="menu-title">Générale</h3>
                    <ul>
                        <li class="sidebar-dropdown{% if active in ["write_post","list_posts_published","list_posts_draft","list_posts_archived","list_posts_dropped","list_post_cats", "new_post_cats", "update_post_cats","list_post_tags", "new_post_tags", "update_post_tags"] %} active{% endif %}"><a href="">Actualités </a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "write_post" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_create") }}">Ecrire</a></li>
                                <li class="{% if active == "list_posts_draft" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_list_draft") }}">Les brouillons</a></li>
                                <li class="{% if active == "list_posts_published" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_list") }}">Les publications</a></li>
                                <li class="{% if active == "list_posts_archived" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_list_archived") }}">Les archives</a></li>
                                <li class="{% if active == "list_posts_dropped" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_list_dropped") }}">La corbeille</a></li>
                                <li class="sidebar-dropdown{% if active in ["list_post_cats", "new_post_cats", "update_post_cats"] %} active{% endif %}"><a href="">Catégories </a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_post_cats" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_categories_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_post_cats" %}active{% endif %}"><a href="{{  path("zpb_admin_posts_categories_create") }}">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["list_post_tags", "new_post_tags", "update_post_tags"] %} active{% endif %}"><a href="">Mots-clés </a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_post_tags" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_tags_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_post_tags" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_tags_create") }}">Nouveau</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_users", "new_user"] %} active{% endif %}"><a href="">Utilisateurs</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "list_users" %}active{% endif %}"><a href="{{ path("zpb_admin_users_list") }}">Liste</a></li>
                                <li class="{% if active == "new_user" %}active{% endif %}"><a href="">nouveau</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_media_images", "new_media_images"] %} active{% endif %}"><a href="">Médiathèque</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["list_media_images", "new_media_images"] %} active{% endif %}"><a href="">Images</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_media_images" %}active{% endif %}"><a href="{{ path("zpb_admin_media_image_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_media_images" %}active{% endif %}"><a href="{{ path("zpb_admin_media_image_create") }}">Upload</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown"><a href="">Pdfs</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li><a href="">Liste</a></li>
                                        <li><a href="">Upload</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_photos", "new_photo", "update_photo","list_photos_cats", "new_photo_cats", "update_photo_cats"] %} active{% endif %}"><a href="">Photothèque</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["list_photos", "new_photo", "update_photo"] %} active{% endif %}"><a href="">Photos</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_photos" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_photo" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_create") }}">Upload</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["list_photos_cats", "new_photo_cats", "update_photo_cats"] %} active{% endif %}"><a href="">Catégories</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_photos_cats" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_categories_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_photo_cats" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_categories_create") }}">Nouvelle</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_faq", "new_faq"] %} active{% endif %}"><a href="#">Faq</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "list_faq" %}active{% endif %}"><a href="{{ path("zpb_admin_faq_list") }}">Liste</a></li>
                                <li class="{% if active == "new_faq" %}active{% endif %}"><a href="{{ path("zpb_admin_faq_create") }}">Nouvelle</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">Parrainages</h3>
                    <ul>
                        <li class="sidebar-dropdown{% if active in ["bla"] %} active{% endif %}"><a href="">Parrains</a><i class="sidebar-icon fa fa-angle-right"></i>

                        </li>
                        <li class="sidebar-dropdown{% if active in ["bla"] %} active{% endif %}"><a href="">Formules & cadeaux</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["bla"] %} active{% endif %}"><a href="#">Formules</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste</a></li>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["bla"] %} active{% endif %}"><a href="#">Cadeaux</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste</a></li>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Nouveau</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["sponsor_list_species", "sponsor_new_species","sponsor_list_animals","sponsor_new_animal"] %} active{% endif %}"><a href="#">Gestion des animaux</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["sponsor_list_species", "sponsor_new_species"] %} active{% endif %}"><a href="#">Espèces</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "sponsor_list_species" %}active{% endif %}"><a href="{{ path("zpb_admin_sponsor_species_list") }}">Liste</a></li>
                                        <li class="{% if active == "sponsor_new_species" %}active{% endif %}"><a href="{{ path("zpb_admin_sponsor_species_create") }}">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["sponsor_list_animals","sponsor_new_animal"] %} active{% endif %}"><a href="#">Animaux</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "sponsor_list_animals" %}active{% endif %}"><a href="{{ path("zpb_admin_sponsor_animals_list") }}">Liste</a></li>
                                        <li class="{% if active == "sponsor_new_animal" %}active{% endif %}"><a href="{{ path("zpb_admin_sponsor_animals_create") }}">Nouveau</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">Animations</h3>
                    <ul>
                        <li class="sidebar-dropdown{% if active in ["new_animation","list_animations","update_animation","list_animations_days","new_animation_day"] %} active{% endif %}"><a href="">Calendriers</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["new_animation","list_animations","update_animation"] %} active{% endif %}"><a href="">Animations</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_animations" %}active{% endif %}"><a href="{{ path("zpb_admin_animations_list")}}">Liste</a></li>
                                        <li class="{% if active == "new_animation" %}active{% endif %}"><a href="{{ path("zpb_admin_animations_create")}}">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["list_animations_days","new_animation_day"] %} active{% endif %}"><a href="">Journées</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_animations_days" %}active{% endif %}"><a href="{{ path("zpb_admin_animations_days_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_animation_day" %}active{% endif %}"><a href="{{ path("zpb_admin_animations_days_create") }}">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in [""] %} active{% endif %}"><a href="">Plannings</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li><a href="">Liste</a></li>
                                        <li><a href="">Nouveau</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">ZooParc</h3>
                    <ul>

                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">Jardins de B.</h3>
                    <ul>

                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">Hameaux de B.</h3>
                    <ul>

                    </ul>
                </nav>
                <nav class="menu">
                    <h3 class="menu-title">Pagodes de B.</h3>
                    <ul>

                    </ul>
                </nav>

            </nav>
        </div>
    </div>
</aside>
