<aside class="sidebar">
    <div class="nano">
        <div class="nano-content">
            <nav class="menus">
                <div id="menus-tools" class="menus-tools">
                    <a id="menus-tools-fold" href="" class="menus-tools-folder"><i class="fa fa-plus-square"></i></a>
                    <a id="menus-tools-unfold" href="" class="menus-tools-folder"><i class="fa fa-minus-square"></i></a>
                </div>
                <nav class="menu">
                    <h3 class="menu-title">Générale</h3>
                    <ul>
                        <li class="sidebar-dropdown{% if active in ["write_post","list_posts_published","list_posts_draft","list_posts_archived","list_posts_dropped","list_post_cats", "new_post_cats", "update_post_cats","list_post_tags", "new_post_tags", "update_post_tags"] %} active{% endif %}"><a href="">Actualités </a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "write_post" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_create") }}">Ecrire</a></li>
                                <li class="{% if active == "list_posts_draft" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_list_draft") }}">Les brouillons</a></li>
                                <li class="{% if active == "list_posts_published" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_list") }}">Les publications</a></li>
                                <li class="{% if active == "list_posts_archived" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_list_archived") }}">Les archives</a></li>
                                <li class="{% if active == "list_posts_dropped" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_list_dropped") }}">La corbeille</a></li>
                                <li class="sidebar-dropdown{% if active in ["list_post_cats", "new_post_cats", "update_post_cats"] %} active{% endif %}"><a href="">Catégories </a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_post_cats" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_categories_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_post_cats" %}active{% endif %}"><a href="{{  path("zpb_admin_posts_categories_create") }}">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["list_post_tags", "new_post_tags", "update_post_tags"] %} active{% endif %}"><a href="">Mots-clés </a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_post_tags" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_tags_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_post_tags" %}active{% endif %}"><a href="{{ path("zpb_admin_posts_tags_create") }}">Nouveau</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_users", "new_user"] %} active{% endif %}"><a href="">Utilisateurs</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "list_users" %}active{% endif %}"><a href="{{ path("zpb_admin_users_list") }}">Liste</a></li>
                                <li class="{% if active == "new_user" %}active{% endif %}"><a href="">nouveau</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_media_images", "new_media_images","update_media_pdf","list_media_pdf","new_media_pdf"] %} active{% endif %}"><a href="">Médiathèque</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["list_media_images", "new_media_images"] %} active{% endif %}"><a href="">Images</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_media_images" %}active{% endif %}"><a href="{{ path("zpb_admin_media_image_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_media_images" %}active{% endif %}"><a href="{{ path("zpb_admin_media_image_create") }}">Upload</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["update_media_pdf","list_media_pdf","new_media_pdf"] %} active{% endif %}"><a href="">Pdfs</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_media_pdf" %}active{% endif %}"><a href="{{ path("zpb_admin_media_pdf_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_media_pdf" %}active{% endif %}"><a href="{{ path("zpb_admin_media_pdf_create") }}">Upload</a></li>
                                        <li><a href="">Stats</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_institutions", "new_institution", "update_institution"] %} active{% endif %}">
                            <a href="">Institutions</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "list_institutions" %}active{% endif %}"><a href="{{ path("zpb_admin_institutions_list") }}">Liste</a></li>
                                <li class="{% if active == "new_institution" %}active{% endif %}"><a href="{{ path("zpb_admin_institutions_create") }}">Nouvelle</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_photos", "new_photo", "update_photo","list_photos_cats", "new_photo_cats", "update_photo_cats", "stats_photo","list_photos_hd","new_photo_hd","stats_photo_hd","inscrits_photo_hd","new_inscrit_photo_hd"] %} active{% endif %}"><a href="">Photothèques</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["list_photos_hd","new_photo_hd","stats_photo_hd","inscrits_photo_hd","new_inscrit_photo_hd"] %} active{% endif %}"><a href="javascript:void(0)">Photothèque HD</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_photos_hd" %}active{% endif %}"><a href="">Liste</a></li>
                                        <li class="{% if active == "new_photo_hd" %}active{% endif %}"><a href="">Upload</a></li>
                                        <li class="{% if active == "stats_photo_hd" %}active{% endif %}"><a href="">Stats</a></li>
                                        <li class="{% if active == "inscrits_photo_hd" %}active{% endif %}"><a href="">Liste des inscrits</a></li>
                                        <li class="{% if active == "new_inscrit_photo_hd" %}active{% endif %}"><a href="">Nouvelle inscription</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["list_photos", "new_photo", "update_photo", "stats_photo"] %} active{% endif %}"><a href="javascript:void(0)">Photothèque normale</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_photos" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_photo" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_choose_institution") }}">Upload</a></li>
                                        <li class="{% if active == "stats_photo" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_stats_homepage") }}">Stats</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["list_photos_cats", "new_photo_cats", "update_photo_cats"] %} active{% endif %}"><a href="javascript:void(0)">Catégories</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_photos_cats" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_categories_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_photo_cats" %}active{% endif %}"><a href="{{ path("zpb_admin_photos_categories_create") }}">Nouvelle</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_faq", "new_faq"] %} active{% endif %}"><a href="#">Faq</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "list_faq" %}active{% endif %}"><a href="{{ path("zpb_admin_faq_list") }}">Liste</a></li>
                                <li class="{% if active == "new_faq" %}active{% endif %}"><a href="{{ path("zpb_admin_faq_create") }}">Nouvelle</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                {#//***********************************************************************\\
                                                PARRAINAGES
                //***********************************************************************\\#}
                <nav class="menu">
                    <h3 class="menu-title">Parrainages</h3>
                    <ul>
                        <li class="sidebar-dropdown{% if active in ["none"] %} active{% endif %}"><a href="javascript:void(0)">Parrains</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste internet</a></li>
                                <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste postale</a></li>
                                <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste locale</a></li>
                                <li class="sidebar-dropdown{% if active in ["none"] %} active{% endif %}"><a href="javascript:void(0)">Message aux parrains</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Aux parrains par animal</a></li>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">A tous</a></li>
                                    </ul>
                                </li>
                                <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste des offrants</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["none"] %} active{% endif %}"><a href="javascript:void(0)">Parrainages</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "blu" %}active{% endif %}"><a href="">Internet</a></li>
                                <li class="{% if active == "blu" %}active{% endif %}"><a href="">Postaux</a></li>
                                <li class="{% if active == "blu" %}active{% endif %}"><a href="">locaux</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["none"] %} active{% endif %}"><a href="javascript:void(0)">Commandes</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["none"] %} active{% endif %}"><a href="javascript:void(0)">Internet</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste des commandes</a></li>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Commandes en attente</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["none"] %} active{% endif %}"><a href="javascript:void(0)">Postales</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Entrer une commande</a></li>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste des commandes</a></li>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Commandes en attente</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["none"] %} active{% endif %}"><a href="javascript:void(0)">Locales</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Entrer une commande</a></li>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste des commandes</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["sponsor_list_species", "sponsor_new_species","sponsor_list_animals","sponsor_new_animal","sponsor_list_animal_cat", "sponsor_new_animal_cat", "sponsor_update_animal_cat","sponsor_delete_animal_cat", "sponsor_img_by_animal"] %} active{% endif %}"><a href="javascript:void(0)">Gestion des animaux</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>

                                <li class="sidebar-dropdown{% if active in ["sponsor_list_animals","sponsor_new_animal"] %} active{% endif %}"><a href="javascript:void(0)">Animaux</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "sponsor_list_animals" %}active{% endif %}"><a href="{{ path("zpb_admin_sponsor_animals_list") }}">Liste</a></li>
                                        <li class="{% if active == "sponsor_new_animal" %}active{% endif %}"><a href="{{ path("zpb_admin_sponsor_animals_create") }}">Nouveau</a></li>

                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["sponsor_list_species", "sponsor_new_species"] %} active{% endif %}"><a href="javascript:void(0)">Espèces</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "sponsor_list_species" %}active{% endif %}"><a href="{{ path("zpb_admin_sponsor_species_list") }}">Liste</a></li>
                                        <li class="{% if active == "sponsor_new_species" %}active{% endif %}"><a href="{{ path("zpb_admin_sponsor_species_create") }}">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["sponsor_list_animal_cat", "sponsor_new_animal_cat", "sponsor_update_animal_cat"] %} active{% endif %}"><a href="javascript:void(0)">Catégories</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "sponsor_list_animal_cat" %}active{% endif %}"><a href="{{ path("zpb_admin_sponsor_animals_categories_list") }}">Liste</a></li>
                                        <li class="{% if active == "sponsor_new_animal_cat" %}active{% endif %}"><a href="{{ path("zpb_admin_sponsor_animals_categories_create") }}">Nouvelle</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["none"] %} active{% endif %}"><a href="javascript:void(0)">Formules & cadeaux</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["none"] %} active{% endif %}"><a href="javascript:void(0)">Formules</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste</a></li>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["bla"] %} active{% endif %}"><a href="javascript:void(0)">Cadeaux</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Liste</a></li>
                                        <li class="{% if active == "blu" %}active{% endif %}"><a href="">Nouveau</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>


                        <li class="sidebar-dropdown{% if active in ["none"] %} active{% endif %}"><a href="javascript:void(0)">Stats</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li><a href="">Par mois</a></li>
                                <li><a href="">Par an</a></li>
                                <li><a href="">Animaux</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                {#//***********************************************************************\\
                                                ANIMATIONS
                //***********************************************************************\\#}
                <nav class="menu">
                    <h3 class="menu-title">Animations</h3>
                    <ul>
                        <li class="sidebar-dropdown{% if active in ["new_animation","list_animations","update_animation","list_animations_days","new_animation_day"] %} active{% endif %}"><a href="javascript:void(0)">Calendriers</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["new_animation","list_animations","update_animation"] %} active{% endif %}"><a href="javascript:void(0)">Animations</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_animations" %}active{% endif %}"><a href="{{ path("zpb_admin_animations_list")}}">Liste</a></li>
                                        <li class="{% if active == "new_animation" %}active{% endif %}"><a href="{{ path("zpb_admin_animations_create")}}">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["list_animations_days","new_animation_day"] %} active{% endif %}"><a href="javascript:void(0)">Journées</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_animations_days" %}active{% endif %}"><a href="{{ path("zpb_admin_animations_days_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_animation_day" %}active{% endif %}"><a href="{{ path("zpb_admin_animations_days_create") }}">Nouvelle</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in [""] %} active{% endif %}"><a href="javascript:void(0)">Plannings</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li><a href="">Liste</a></li>
                                        <li><a href="">Nouveau</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </nav>

                {#//***********************************************************************\\
                                    ZOO
                //***********************************************************************\\#}
                <nav class="menu">
                    <h3 class="menu-title">ZooParc</h3>
                    <ul>
                        <li class="sidebar-dropdown{% if active in ["list_restos","new_restos","update_restos", "manage_restos"] %} active{% endif %}"><a href="javascript:void(0)">Restaurants</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "list_restos" %}active{% endif %}"><a href="{{ path("zpb_admin_zoo_restaurants_list") }}">Liste</a></li>
                                <li class="{% if active == "new_restos" %}active{% endif %}"><a href="{{ path("zpb_admin_zoo_restaurants_create") }}">Nouveau</a></li>
                                <li class="{% if active == "manage_restos" %}active{% endif %}"><a href="{{ path("zpb_admin_zoo_restaurants_manage") }}">Gérer</a></li>
                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["presse_dossier","new_com","list_com","update_com"] %} active{% endif %}"><a href="javascript:void(0)">Presse</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="sidebar-dropdown{% if active in ["presse_dossier"] %} active{% endif %}"><a href="javascript:void(0)">Dossiers</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "presse_dossier" %}active{% endif %}"><a href="">Modifier la page</a></li>
                                    </ul>
                                </li>
                                <li class="sidebar-dropdown{% if active in ["new_com","list_com","update_com"] %} active{% endif %}"><a href="javascript:void(0)">Communiqués</a><i class="sidebar-icon fa fa-angle-right"></i>
                                    <ul>
                                        <li class="{% if active == "list_com" %}active{% endif %}"><a href="{{ path("zpb_admin_zoo_press_release_list") }}">Liste</a></li>
                                        <li class="{% if active == "new_com" %}active{% endif %}"><a href="{{ path("zpb_admin_zoo_press_release_create") }}">Nouveau</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li class="sidebar-dropdown{% if active in ["list_static_pages","new_static_page","update_static_page"] %} active{% endif %}"><a href="javascript:void(0)">Pages statiques</a><i class="sidebar-icon fa fa-angle-right"></i>
                            <ul>
                                <li class="{% if active == "list_static_pages" %}active{% endif %}"><a href="{{ path("zpb_admin_zoo_static_pages_list") }}">Liste</a></li>
                                <li class="{% if active == "new_static_page" %}active{% endif %}"><a href="{{ path("zpb_admin_zoo_static_pages_create") }}">Nouvelle</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                {#//***********************************************************************\\
                                                BEAUVAL NATURE
                //***********************************************************************\\#}
                <nav class="menu">
                    <h3 class="menu-title">Beauval Nature</h3>
                    <ul>

                    </ul>
                </nav>
                {#//***********************************************************************\\
                                                GROUPEs
                //***********************************************************************\\#}
                <nav class="menu">
                    <h3 class="menu-title">Groupes</h3>
                    <ul>

                    </ul>
                </nav>
                {#//***********************************************************************\\
                                                CE
                //***********************************************************************\\#}
                <nav class="menu">
                    <h3 class="menu-title">ce</h3>
                    <ul>

                    </ul>
                </nav>
                {#//***********************************************************************\\
                                                PRO
                //***********************************************************************\\#}
                <nav class="menu">
                    <h3 class="menu-title">Pro</h3>
                    <ul>

                    </ul>
                </nav>
                {#//***********************************************************************\\
                                            GROUPES ENFANTS
                //***********************************************************************\\#}
                <nav class="menu">
                    <h3 class="menu-title">Groupes enfants</h3>
                    <ul>

                    </ul>
                </nav>
                {#//***********************************************************************\\
                                                    JARDINS
                //***********************************************************************\\#}

                <nav class="menu">
                    <h3 class="menu-title">Jardins de B.</h3>
                    <ul>

                    </ul>
                </nav>
                {#//***********************************************************************\\
                                                    HAMEAUX
                //***********************************************************************\\#}
                <nav class="menu">
                    <h3 class="menu-title">Hameaux de B.</h3>
                    <ul>

                    </ul>
                </nav>
                {#//***********************************************************************\\
                                                PAGODES
                //***********************************************************************\\#}
                <nav class="menu">
                    <h3 class="menu-title">Pagodes de B.</h3>
                    <ul>

                    </ul>
                </nav>

            </nav>
        </div>
    </div>
</aside>
