{% extends "ZPBAdminBundle:Layouts:master.html.twig" %}

{% block title %}Journées | Animations{% endblock %}
{% set active = "list_animations_days" %}

{% block headStyles %}
    {{ parent() }}
    <style>
        .anim-day{
            margin-bottom: 10px;
            padding: 5px;
            border: 1px solid #ddd;
        }
        .anim-day-row{
            *zoom: 1;
            height: 50px;
        }
        .anim-day-row:before, .anim-day-row:after{
            display: table;
            content: " ";
        }
        .anim-day-row:after{
            clear: both;
        }
        .anim-day-element{
            float: left;
            height: 100%;
            margin-right: 5px;
        }
        .anim-day-element.right{
            float: right;
        }
        .anim-day-color{
            width: 50px;

        }
        .anim-day-name{
            line-height: 50px;
        }

        .anim-day-add{

        }

        .anim-day-details{
            margin: 10px;
            display: none;
        }
        .loader{
            background: url("/img/sites/ajax-loader.gif") no-repeat center center;
        }
        .loader, .anim-schedule-delete{

            width: 50px;
            height: 50px;

        }
        .anim-schedule-delete{
            text-align: center;
        }

        .loader.hide, .anim-schedule-delete.hide{
            display: none;
        }
        .loader.show, .anim-schedule-delete.show{
            display: block;
        }
        .anim-schedule-delete a{
            color: inherit;
            font-size: 20px;
        }
        .anim-schedule:before, .anim-schedule:after{
            display: table;
            content: " ";
        }
        .anim-schedule:after{
            clear: both;
        }
        .anim-schedule{
            *zoom: 1;
            height: 50px;
            line-height: 50px;
        }
        .anim-schedule:nth-child(2n+1){
            background-color: #eee;
        }
        .anim-schedule-element{
            float: left;
        }
        .anim-schedule-element.innner-row>div{
            float: left;
            margin-right: 10px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="column-12">
            <div class="tile">
                <div class="tile-header">Liste des journées d'animations</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column-12">
            <div class="tile">


                {% if animDays|length > 0 %}
                    {% for animDay in animDays %}
                        <div class="anim-day">
                            <div class="anim-day-row">
                                <div style="background-color: {{ animDay.color }};" class="anim-day-color anim-day-element"></div>
                                <div class="anim-day-name anim-day-element">{{ animDay.name }}</div>
                                <div class="anim-day-element right anim-day-delete"><button class="btn btn-primary"><i class="fa fa-trash-o"></i></button></div>
                                <div class="anim-day-element right anim-day-modify"><button class="btn btn-primary anim-day-modify-btn"><i class="fa fa-edit"></i></button></div>
                                <div class="anim-day-element right anim-day-add"><button class="btn btn-primary"><i class="fa fa-plus"></i></button></div>
                            </div>
                            <div class="anim-day-add"></div>
                            <div class="anim-day-details">
                                {% if animDay.schedules|length >0 %}
                                    {% for schedule in animDay.schedules %}
                                        <div class="anim-schedule" data-id="{{ schedule.id }}">
                                            <div class="loader anim-schedule-element hide"></div>
                                            <div class="anim-schedule-element anim-schedule-delete show"><a href=""><i class="fa fa-trash-o"></i></a></div>
                                            <div class="anim-schedule-element innner-row">
                                                <div class="anim-schedule-hour">
                                                    <select class="anim-schedule-hour-select">
                                                        {% for h in 8..20 %}
                                                            {% set t = h<10 ? "0"~h : h %}
                                                            <option value="{{ t }}" {% if t == schedule.timetable|date("H") %}selected="selected"{% endif %}>{{ t }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="anim-schedule-mn">
                                                    <select class="anim-schedule-min-select">
                                                        {% for h in ["00", "15", "30", "45"] %}

                                                            <option value="{{ h }}" {% if h == schedule.timetable|date("i") %}selected="selected"{% endif %}>{{ h }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="anim-schedule-element">{{ schedule.animation.name }}</div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                {% else %}

                                {% endif %}
                            </div>
                        </div>

                    {% endfor %}
                {% else %}

                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

{% block footScripts %}
    {{ parent() }}
    <script>
        var changeHourUrl = "";
        var changeMinUrl = "";
    </script>
    <script src="/js/admin/animation_day/app.js"></script>
{% endblock %}
