{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Mon compte | Parrainez un animal{% endblock %}

{% block header %}
    {{ render(controller("ZPBSitesZooBundle:Partials:smallHeader")) }}
{% endblock %}

{% block content %}

    <div class="column large-12">
        <dl class="tabs " data-tab="">
            <dd><a href="#panel1-1" class="active">Mes parrainages</a></dd>
            <dd><a href="#panel1-2">Mes informations personnelles</a></dd>
            <dd><a href="#panel1-3">Modifier mon mot de passe</a></dd>
        </dl>
        <div class="tabs-content">
            <div id="panel1-1" class="content active"  aria-hidden="false">
                <div class="columns large-6 large-centered">
                    <h3>Mes parrainages</h3>
                </div>
            </div>
            <div id="panel1-2" class="content" aria-hidden="true">
                <div class="row">
                    <div class="columns large-6 large-centered">
                        <h3>Modifier mon compte</h3>

                    {{ form_start(form, {attr:{novalidate:true}}) }}
                    <div class="row">
                        <div class="column large-4">
                            {{ form_label(form.civilite) }}
                            {{ form_widget(form.civilite) }}
                            {{ form_errors(form.civilite) }}
                        </div>

                        <div class="column large-8">
                            {{ form_label(form.birthdate) }}
                            {{ form_widget(form.birthdate) }}
                            {{ form_errors(form.birthdate) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-12">
                            {{ form_label(form.firstname) }}
                            {{ form_widget(form.firstname) }}
                            {{ form_errors(form.firstname) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-12">
                            {{ form_label(form.lastname) }}
                            {{ form_widget(form.lastname) }}
                            {{ form_errors(form.lastname) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-12">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                            {{ form_errors(form.username) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-12">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-12">
                            {{ form_label(form.phone) }}
                            {{ form_widget(form.phone) }}
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-12">
                            {{ form_label(form.address) }}
                            {{ form_widget(form.address) }}
                            {{ form_errors(form.address) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-12">
                            {{ form_label(form.address2) }}
                            {{ form_widget(form.address2) }}
                            {{ form_errors(form.address2) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-4">
                            {{ form_label(form.batiment) }}
                            {{ form_widget(form.batiment) }}
                            {{ form_errors(form.batiment) }}
                        </div>

                        <div class="column large-4">
                            {{ form_label(form.door) }}
                            {{ form_widget(form.door) }}
                            {{ form_errors(form.door) }}
                        </div>

                        <div class="column large-4">
                            {{ form_label(form.floor) }}
                            {{ form_widget(form.floor) }}
                            {{ form_errors(form.floor) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-4">
                            {{ form_label(form.postalCode) }}
                            {{ form_widget(form.postalCode) }}
                            {{ form_errors(form.postalCode) }}
                        </div>

                        <div class="column large-8">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city) }}
                            {{ form_errors(form.city) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-4">
                            {{ form_label(form.country) }}
                            {{ form_widget(form.country) }}
                            {{ form_errors(form.country) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="column large-12">
                            {{ form_widget(form.save, {attr:{class: "button"}}) }}
                        </div>
                    </div>


                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div id="panel1-3" class="content" aria-hidden="true">
                <div class="row">
                    <div class="columns large-6 large-centered">
                        <h3>Modifier mon mot de passe</h3>

                        <div class="row">
                            <div class="column large-12">
                                {{ form_label(pw_form.oldPassword) }}
                                {{ form_widget(pw_form.oldPassword) }}
                                {{ form_errors(pw_form.oldPassword) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="column large-12">
                                {{ form_label(pw_form.newPassword.first) }}
                                {{ form_widget(pw_form.newPassword.first) }}
                                {{ form_errors(pw_form.newPassword.first) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="column large-12">
                                {{ form_label(pw_form.newPassword.second) }}
                                {{ form_widget(pw_form.newPassword.second) }}
                                {{ form_errors(pw_form.newPassword.second) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="column large-12">
                                {{ form_widget(pw_form.save, {attr:{class: "button"}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
