{% extends "ZPBSitesZooBundle:Layouts:master.html.twig" %}
{% block title %}Identifiants perdus | Parrainez un animal{% endblock %}



{% block content %}
    <div class="columns large-12">
        <div class="row">
            <div class="columns large-12">
                <h1>Identifiants perdus</h1>
            </div>
            <hr/>
        </div>

        <div class="row">
            <div class="columns large-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem minima minus officia, quidem quos
                    tempora temporibus tenetur. Eius, itaque, quas. Autem explicabo illo iure molestias nisi, porro
                    unde? Ad adipisci alias at atque commodi consectetur corporis cumque cupiditate debitis doloremque
                    ducimus esse et explicabo fuga fugit, incidunt ipsam minima molestiae necessitatibus nisi possimus
                    praesentium quaerat quia ratione reprehenderit veritatis vitae voluptatum! At dolorem quaerat
                    quibusdam quis, rerum unde vero! Amet debitis ex, fugiat nobis porro possimus quam similique
                    tenetur. Accusamus asperiores debitis dignissimos dolore doloremque eligendi expedita explicabo
                    fugit labore nam, nemo nesciunt nisi, praesentium repellendus sint tempore ullam voluptatem?</p>
            </div>
        </div>

        <div class="row">
            <div class="columns large-8 large-centered">
                {{ form_start(form, {attr:{novalidate:true}}) }}
                {{ form_errors(form) }}
                    <div class="row">
                        <div class="columns large-12">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns large-12">
                            {{ form_widget(form.save) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
            </div>
        </div>

    </div>
{% endblock %}
