{% set active_page = (active_page is defined) ? active_page : "" %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if block('title') %}{{ block('title')}}{% else %}Bienvenue{% endif %} | ZooParc de Beauval</title>
    {% if block('description') %}
    <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/zoo/master.css"/>
    {% endblock %}

    {% block headScripts %}{% endblock %}

    {% block headStyles %}
        <style>
            .alert-box{
                width: 400px;
                box-shadow: rgba(0,0,0,0.5) 0 0 5px;
                z-index: 99999;
                position: absolute;
            }
            .alert-box .alert-close{
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 25px;
                width: 25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                font-weight: 700;
            }
        </style>
    {% endblock %}
</head>
<body class="{{ "bg_0"~(random(6)+1) }}">
{{ render(controller("ZPBSitesCommonBundle:Navs:topnav")) }}
    {% block main %}
        {% block header %}
            <div id="site-header">
                {{ render(controller("ZPBSitesZooBundle:Navs:mainbar", {active_page: active_page})) }}
                <div class="tickets tickets-left">
                    <a href="">
                        <div class="inner">
                            Achetez<br> vos billets
                            {{ include("ZPBSitesZooBundle:incs:billet_svg.html.twig") }}
                        </div>
                    </a>
                </div>
                <div class="tickets tickets-center">
                    <a href="">
                        <div class="inner">
                            Dormez<br>à Beauval
                            {{ include("ZPBSitesZooBundle:incs:dormir_svg.html.twig") }}
                        </div>
                    </a>
                </div>
                <div class="tickets tickets-right">
                    <a href="{{ path("zpb_sites_zoo_parrainages_homepage") }}">
                        <div class="inner">
                            Parrainez<br>un animal
                            {{ include("ZPBSitesZooBundle:incs:parrainer_svg.html.twig") }}
                        </div>
                    </a>
                </div>
            </div>
        {% endblock %}

        {% block content %}{% endblock %}

    {% endblock %}

{{ render(controller("ZPBSitesZooBundle:Partials:footer")) }}

{% block footScripts %}
    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="/js/vendor/waypoints.min.js"></script>
    <script src="/js/vendor/waypoints-sticky.min.js"></script>
    <script>
        $(function(){
            $("#stickytop").waypoint('sticky');
        })
    </script>
{% endblock %}

{% if app.session.flashBag|length > 0 %}
    {% for type,messages in app.session.flashBag %}
        {%  for message in messages %}
            <div class="alert-box {{ type }}" data-message="">
                <p>{{ message }}</p>
                <a class="alert-close" href="#">&times</a>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
</body>
</html>
