{% set active_page = (active_page is defined) ? active_page : "" %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if block('title') %}{{ block('title')}}{% else %}Bienvenue{% endif %} | ZooParc de Beauval</title>
    {% if block('description') %}
    <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block meta_fb %}{% endblock %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/zoo/master.css"/>
    {% endblock %}

    {% block headScripts %}{% endblock %}

    {% block headStyles %}

    {% endblock %}
</head>

<body>
{{ render(controller("ZPBSitesCommonBundle:Navs:topnav")) }}
    {% block main %}
        {% block header %}
            <div id="site-header">
                {{ render(controller("ZPBSitesZooBundle:Navs:mainbar", {active_page: active_page})) }}
                {#<img id="img-header" src="/img/sites/common/headers/header_01.jpg" alt=""/>#}
                <div class="tickets tickets-left">
                    <a href="">
                        <div class="inner">
                            Achetez<br> vos billets
                            {{ include("ZPBSitesZooBundle:incs:billet_svg.html.twig") }}
                        </div>
                    </a>
                </div>
                <div class="tickets tickets-center">
                    <a href="{{ url("zpb_sites_hotels_homepage") }}">
                        <div class="inner">
                            Dormez<br>à Beauval
                            {{ include("ZPBSitesZooBundle:incs:dormir_svg.html.twig") }}
                        </div>
                    </a>
                </div>
                <div class="tickets tickets-right">
                    <a href="{{ path("zpb_sites_zoo_parrainages_homepage") }}">
                        <div class="inner">
                            Parrainez<br>un animal
                            {{ include("ZPBSitesZooBundle:incs:parrainer_svg.html.twig") }}
                        </div>
                    </a>
                </div>
            </div>
        {% endblock %}

        <div class="main-content">
            {% block content %}{% endblock %}
        </div>


    {% endblock %}
{{ render(controller("ZPBSitesZooBundle:Navs:secondaryMainbar", {active_page: active_page})) }}
{{ render(controller("ZPBSitesZooBundle:Partials:footer")) }}

{% block footScripts %}
    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="/js/vendor/waypoints.min.js"></script>
    <script src="/js/vendor/waypoints-sticky.min.js"></script>
    <script src="/js/vendor/jquery.scrollTo.min.js"></script>
    <script src="/js/common_app.js"></script>
{% endblock %}


</body>
</html>
