{% set active_page = (active_page is defined) ? active_page : "" %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if block('title') %}{{ block('title')}}{% else %}Bienvenue{% endif %} | ZooParc de Beauval</title>
    {% if block('description') %}
    <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block meta_fb %}{% endblock %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/zoo/master.css"/>
    {% endblock %}

    {% block headScripts %}
        <script src="/js/vendor/require.js" data-main="/js/sites/zoo/main"></script>
    {% endblock %}

    {% block headStyles %}

    {% endblock %}
</head>

<body>
{% block topnav %}
    {{ render(controller("ZPBSitesCommonBundle:Navs:topnav", {url: path("zpb_sites_zoo_english_index")})) }}
{% endblock %}

    {% block main %}
        {% block header %}
            <div id="site-header">
                {% block mainbar %}
                    {{ render(controller("ZPBSitesZooBundle:Navs:mainbar", {active_page: active_page})) }}
                {% endblock %}

                {{ header_carousel("ZPBSitesCommonBundle:incs:header_carousel.html.twig") }}

                {% block tickets %}
                    <div class="tickets tickets-left">
                        <a href="">
                            <div class="inner">
                                Achetez<br> vos billets
                                {{ include("ZPBSitesZooBundle:incs:billet_svg.html.twig") }}
                            </div>
                        </a>
                    </div>
                    <div class="tickets tickets-center">
                        <a href="{{ url("zpb_sites_hotels_homepage") }}">
                            <div class="inner">
                                Dormez<br>à Beauval
                                {{ include("ZPBSitesZooBundle:incs:dormir_svg.html.twig") }}
                            </div>
                        </a>
                    </div>
                    <div class="tickets tickets-right">
                        <a href="{{ path("zpb_sites_zoo_parrainages_homepage") }}">
                            <div class="inner">
                                Venez<br/>à Beauval
                                {{ include("ZPBSitesZooBundle:incs:parrainer_svg.html.twig") }}
                            </div>
                        </a>
                    </div>
                {% endblock %}

            </div>
        {% endblock %}

        <div class="main-content">
            {% block content %}{% endblock %}
        </div>


    {% endblock %}
{% block secondary_mainbar %}
    {{ render(controller("ZPBSitesZooBundle:Navs:secondaryMainbar", {active_page: active_page})) }}
{% endblock %}

{% block footer %}
    {{ render(controller("ZPBSitesZooBundle:Partials:footer")) }}
{% endblock %}






</body>
</html>
