{% set prepend_title = (prepend_title is defined) ? prepend_title : null %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ render(controller("ZPBSitesZooBundle:Partials:head", {route: app.request.attributes.get('_route'), prepend_title: prepend_title})) }}
    {#<title>{% if block('title') %}{{ block('title')}}{% else %}Accueil{% endif %} | ZooParc de Beauval</title>#}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/common/normalize.css"/>
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/zoo/master.css"/>
    {% endblock %}

    {% block headScripts %}{% endblock %}

    {% block headStyles %}
        <style>
            .alert-box{
                width: 400px;
                box-shadow: rgba(0,0,0,0.5) 0 0 5px;
                z-index: 99999;
                position: absolute;
            }
            .alert-box .alert-close{
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 25px;
                width: 25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                font-weight: 700;
            }
        </style>
    {% endblock %}
</head>
<body>
{{ render(controller("ZPBSitesZooBundle:Navs:topnav")) }}

    {% block main %}
        {% block header %}

            <div id="site-header">
                <a class="button alert large" href="{{ path("zpb_sites_zoo_parrainages_homepage") }}" style="position: absolute; top: 75px; right: 50px;">Parrainages</a>
                <a class="button alert large" href="" style="position: absolute; top: 150px; right: 50px;">Billetterie</a>
                <a class="button alert large" href="" style="position: absolute; top: 225px; right: 50px;">Hôtels</a>
                {{ render(controller("ZPBSitesZooBundle:Navs:mainbar")) }}

                {{ include("ZPBSitesZooBundle:TestDesign:boutons_header.html.twig") }}
            </div>
        {% endblock %}

        <div class="container">
            {% block content %}

            {% endblock %}
        </div>
    {% endblock %}

{{ render(controller("ZPBSitesZooBundle:Partials:footer")) }}

{% block footScripts %}
    <script src="/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="/js/vendor/waypoints.min.js"></script>
    <script src="/js/vendor/waypoints-sticky.min.js"></script>

    <script>
        $(function(){
            $("#stickytop").waypoint('sticky');
        })
    </script>
{% endblock %}

{% if app.session.flashBag|length > 0 %}
    {% for type,messages in app.session.flashBag %}
        {%  for message in messages %}
            <div class="alert-box {{ type }}" data-message="">
                <p>{{ message }}</p>
                <a class="alert-close" href="#">&times</a>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
</body>
</html>
