{% set active_page = (active_page is defined) ? active_page : "" %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% if block('title') %}{{ block('title')}}{% else %}Bienvenue{% endif %} | ZooParc de Beauval</title>
    {% if block('description') %}
    <meta name="description" content="{{ block('description') }}"/>
    {% endif %}
    {% if block('keywords') %}
        <meta name="keywords" content="{{ block('keywords') }}"/>
    {% endif %}

    {% block meta_fb %}{% endblock %}

    {% block headLinks%}
        <link rel="stylesheet" href="/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/css/sites/zoo/master.css"/>
    {% endblock %}

    {% block headScripts %}
        <script src="/js/vendor/require.js" data-main="/js/sites/zoo/main"></script>
    {% endblock %}

    {% block headStyles %}

    {% endblock %}
</head>

<body>
{{ render(controller("ZPBSitesCommonBundle:Navs:topnav")) }}
    {% block main %}
        {% block header %}
            <div id="site-header">
                {{ render(controller("ZPBSitesZooBundle:Navs:mainbar", {active_page: active_page})) }}
                <div class="carousel" id="hCarousel">
                    <div class="slides">
                        <div class="slide" id="slide_1">
                            <div class="slide-img-placeholder">
                                <img class="slide-img" src="/img/sites/common/headers/header_01.jpg" alt=""/>
                            </div>

                        </div>
                        <div class="slide hide" id="slide_2">
                            <div class="slide-img-placeholder" >
                                <img class="slide-img" src="/img/sites/common/headers/header_02.jpg" alt=""/>
                            </div>

                        </div>
                        <div class="slide hide" id="slide_3">
                            <div class="slide-img-placeholder" >
                                <img class="slide-img" src="/img/sites/common/headers/header_03.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="slide hide" id="slide_4">
                            <div class="slide-img-placeholder" >
                                <img class="slide-img" src="/img/sites/common/headers/header_04.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="slide hide" id="slide_5">
                            <div class="slide-img-placeholder" >
                                <img class="slide-img" src="/img/sites/common/headers/header_05.jpg" alt=""/>
                            </div>


                        </div>
                        <div class="slide hide" id="slide_6">
                            <div class="slide-img-placeholder" >
                                <img class="slide-img" src="/img/sites/common/headers/header_06.jpg" alt=""/>
                            </div>

                        </div>
                        <div class="slide hide" id="slide_7">
                            <div class="slide-img-placeholder" >
                                <img class="slide-img" src="/img/sites/common/headers/header_07.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="slide hide" id="slide_8">
                            <div class="slide-img-placeholder" >
                                <img class="slide-img" src="/img/sites/common/headers/header_08.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="slide hide" id="slide_9">
                            <div class="slide-img-placeholder" >
                                <img class="slide-img" src="/img/sites/common/headers/header_09.jpg" alt=""/>
                            </div>

                        </div>
                        <div class="slide hide" id="slide_10">
                            <div class="slide-img-placeholder" >
                                <img class="slide-img" src="/img/sites/common/headers/header_10.jpg" alt=""/>
                            </div>
                        </div>
                        <div class="slide hide" id="slide_11">
                            <div class="slide-img-placeholder" >
                                <img class="slide-img" src="/img/sites/common/headers/header_11.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tickets tickets-left">
                    <a href="">
                        <div class="inner">
                            Achetez<br> vos billets
                            {{ include("ZPBSitesZooBundle:incs:billet_svg.html.twig") }}
                        </div>
                    </a>
                </div>
                <div class="tickets tickets-center">
                    <a href="{{ url("zpb_sites_hotels_homepage") }}">
                        <div class="inner">
                            Dormez<br>à Beauval
                            {{ include("ZPBSitesZooBundle:incs:dormir_svg.html.twig") }}
                        </div>
                    </a>
                </div>
                <div class="tickets tickets-right">
                    <a href="{{ path("zpb_sites_zoo_parrainages_homepage") }}">
                        <div class="inner">
                            Parrainez<br>un animal
                            {{ include("ZPBSitesZooBundle:incs:parrainer_svg.html.twig") }}
                        </div>
                    </a>
                </div>
            </div>
        {% endblock %}

        <div class="main-content">
            {% block content %}{% endblock %}
        </div>


    {% endblock %}
{{ render(controller("ZPBSitesZooBundle:Navs:secondaryMainbar", {active_page: active_page})) }}
{{ render(controller("ZPBSitesZooBundle:Partials:footer")) }}




</body>
</html>
